<app-prospectus-header title="Degree Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Bachelor of Arts (Honours) <br> in Fine Art
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Bachelor of Arts (Honours) <br> in Game Art and Visual Design
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Bachelor of Arts (Honours) <br> in Graphic Design
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Bachelor of Arts (Honours) <br> in Interactive Media
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Bachelor of Arts (Honours) <br> in Product Design
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn6()" expand="block" color="light">Bachelor of Arts (Honours) <br> in Spatial Design
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn7()" expand="block" color="light">Bachelor of Arts (Honours) <br> in Creative Media Production
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn8()" expand="block" color="light">Bachelor of Arts (Honours) <br> in Photography
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn9()" expand="block" color="light">Bachelor of Arts (Honours) <br> in Journalism
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn10()" expand="block" color="light">Bachelor of Arts (Honours) <br> in Performing Arts 
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn11()" expand="block" color="light">Bachelor of Arts (Honours) <br> in Fashion
    </ion-button>
  </section>

</ion-content>