<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Arts (Honours) in Procurement and Finance </header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Business Administration
      or
      MCAST Advanced Diploma in Accounting
      or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-Level: Accounts or Marketing or Economics
      Note: Applicants with similar qualifications, may still
      show their interest in applying for this course. Such
      applications will be presented to an Admissions Board
      for its consideration</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This three-year Bachelor
      degree intends to provide
      learners with a strong
      basis of procurement
      processes and supporting
      aspects. Applying
      theory to both public
      procurement procedures
      as well as those adopted
      within the private sector,
      this degree will expose
      learners to the various
      aspects of Procurement
      Management. This is
      coupled with a detailed
      understanding of
      the finance function,
      which in itself provides
      the students with the
      capability to carry out
      work more effectively.
      Management studies are
      also incorporated in the
      programme of studies, in
      a way as to provide the
      students with a launch
      –pad into the heart of
      effective operations
      coordination in this
      dynamic area.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
