<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Environmental Sustainability</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Applied Science
      or
      MCAST Diploma in Mechanical Engineering
      or
      MCAST Diploma in Engineering (Electronics)
      or
      4 SEC/O-Level /SSC&P (Level 3) passes
      Compulsory: at least 3 from English Language,
      Mathematics, Physics, Chemistry, Biology, Design and
      Technology, Computer Studies, Environmental Studies</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>Awareness of
      environmental
      sustainability and related
      environmentally-based
      sectors are growing
      rapidly in Europe, with
      the Maltese government
      recently introducing
      various laws and
      standards on reducing
      global warming, climate
      change, low carbon
      emissions and the need
      for conservation in
      general.
      This programme of
      studies includes topics
      related to environmental
      monitoring even within
      manufacturing industries
      that are fundamental
      to the development
      of environmental
      awareness and provides
      the necessary practical
      skills and techniques.
      Employment is typically
      within environmental
      sustainability sectorbased organisations, as
      well as within medium to
      large organisations that
      face many environmental
      challenges, such as
      waste management,
      alternative energy
      sources, traffic
      management and
      pollution, on a daily basis </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
