<app-prospectus-header title="About"></app-prospectus-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Established in 2001, the Malta College of
      Arts, Science and Technology (MCAST) is
      the country’s leading Vocational Education
      and Training institution. The College,
      through its Institutes, is driving forward
      the development of courses and more
      focused methodologies and pedagogies
      for the respective levels falling under
      their remit. Recent developments include
      the Skills Kits programme, more new
      courses on Apprenticeship and Masters
      Degrees amongst others.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      Our students are
      prepared for careers in different sectors as
      we collaborate closely with local industry
      to ensure that the knowledge, skills and
      competences within our programmes are
      appropriate and relevant to a dynamic
      economy. This relationship enhances the
      College’s programmes that are flexible,
      relevant and responsive to the aspirations
      of our students and the needs of industry,
      which are constantly evolving
    </ion-card-content>
  </ion-card>

</ion-content>
