<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Science (Honours) in Construction Engineering (Civil Engineering)</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Years Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Building Services
      Engineering
      or
      MCAST Advanced Diploma in Construction Engineering
      or
      MCAST Advanced Diploma in Civil Engineering
      or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-Levels: Physics and Mathematics
      (Pure or Applied)
      Preferred I-Level: Engineering Drawing & Graphical
      Communications
      Other Entry Requirements:
      Knowledge in CAD will be considered an asset.
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course gives the
      learners opportunities
      to explore management
      skills and technical
      knowledge associated
      with the diverse and
      challenging tasks that
      are in continuous change
      with the introduction
      of new materials to
      meet zero energy
      building requirements
      and various integrated
      design concepts. The
      programme empowers
      one with necessary
      design and evaluation
      techniques to be able
      to make professional
      judgements on technical,
      social and ethical issues
      during the planning and
      execution of construction
      projects.
      The Civil Engineering
      specialised units are
      for those who are
      interested in Site Spatial
      Engineering, Engineering
      Geology, and Soil
      Mechanics and Structural
      Analysis.
      By the end of the
      programme, one
      will be able to work
      independently, with
      a significant amount
      of research and selfdirected learning, both
      within and outside the
      Institute environment.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
