<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Arts (Honours) in Photography</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Photography
      or
      MCAST Advanced Diploma in Creative Media
      Production
      or
      MCAST Advanced Diploma in Art and Design
      or
      MCAST Advanced Diploma in Graphic Design
      and Interactive Media
      or
      2 A-Level passes and 2 I-Level Passes
      Preferred A-Level: Photography, or Art, or English
      Language
      Applicants may be asked to sit for an interview and/or
      present their Portfolio.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The photography industry
      offers very exciting
      career pathways and
      the demads are growing
      rapidly. The exciting
      world of photography
      is an open invitation for
      all individuals who are
      keen to frame the world
      through a critical lens and
      to be prepared to commit
      for the ever changing
      demands of the industry.
      The course introduces
      learners to a variety of
      learning experiences,
      ranging from professional
      commercial photography
      to experimental image
      making. Learners
      will initially familiarise
      themselves with the
      basic foundations of
      image-making, both in
      the moving image as
      well in still photography.
      They will explore still
      image recording and
      finishing for commercial
      and artistic endeavours
      using industry-standard
      equipment. In their final
      year, learners will be
      given the opportunity to
      research and develop
      their own individual visual
      language.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
