<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
<header>Diploma in Masonry Heritage Skills (Sewwej)</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This vocational course
      enables learners to take
      up a career in stone
      restoration. It provides
      both practical and
      theoretical skills that lead
      learners to participate in
      a limited scope of stone
      restoration interventions.
      Successful learners
      can progress to the
      higher-level course in
      restoration. Throughout
      the programme learners
      will have the opportunity
      to obtain necessary
      maintenance, protection
      and preservation skills,
      understand preparation
      and recording techniques
      and apply cleaning and
      testing procedures.
      The programme is
      complemented with
      other essential units
      such as Safety at Work,
      Technical Reporting,
      Information Technology
      and Mathematics.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
