<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Children’sCare, Learning and Development</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Health and Social Care
      or
      MCAST Diploma in Sport
      or
      MCAST Diploma in Performing Arts
      or
      MCAST Diploma in Art & Design
      or
      4 SEC/O-Level /SSC&P (Level 3) passes
      Compulsory: English Language, Maltese and
      Mathematics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This two-year programme
      is one of the most popular
      within the Institute.
      Lecturers give a major
      emphasis to the practical
      components which form
      an integral part of the
      programme. Learners are
      taught how to observe
      babies and toddlers in an
      early years’ environment,
      to be able to help each
      child reach his or her
      maximum potential.
      Innovative methods are
      used to plan activities for
      children in a childcare
      setting. Other lectures
      include topics about
      the safeguarding and
      promotion of children’s
      rights and the creation
      of a safe and engaging
      environment where
      positive development can
      take place.
      At the end of the
      first academic year,
      successful learners will
      have the option to exit
      their studies, and be
      awarded the MCAST
      Award in Children’s
      Care, Learning and
      Development. *
      </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
