<app-prospectus-header title="President"></app-prospectus-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      We are
      honoured that you have entrusted
      MCAST to further your education
      and lead you into the world of
      employment. Our objective is to
      produce successful graduates who
      are the first choice for leading employers. We also develop our students to graduate with the ambition
      and entrepreneurship skills required
      to establish their own successful
      business if they choose to.
    </ion-card-content>

    <ion-card-content>
      Since its inception, the college has
      achieved more than expected and
      thanks to the commitment of our
      staff and educators continues to position itself as an important catalyst
      to the Maltese labour market. The
      overall development of the student
      is the ultimate goal of the college
      and we ensure that no stone is left
      unturned to equip the student of
      today for the challenges of life.
    </ion-card-content>

    <ion-card-content>
      Our work-based learning programs
      offer real-life work experience and
      provide students with the opportunity to work, train, and interact
      with their future colleagues. The
      success of our apprenticeship
      schemes allows students to develop strong rapport with their sponsor
      who eventually become their future
      employer
    </ion-card-content>

    <ion-card-content>
      I would like to take this opportunity to thank you for choosing
      MCAST and to welcome you, our
      much valued student to a new and
      exciting journey. During your tenure
      at the college, you will meet with a
      wide-array of students from across
      79 different nationalities, rendering
      MCAST an international college. 
    </ion-card-content>
  </ion-card>
</ion-content>
