<app-prospectus-header></app-prospectus-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Offering a range of courses from MQF levels
      1 to 7, the Institute has different courses from
      generic to more specific ones targeted for more
      specific careers. 
    </ion-card-content>

    <ion-card-content>
      The main areas of Business
      are covered through the different courses,
      ranging from Financial Services and
      Insurance to Marketing and Procurement. At
      the lower levels courses are of a generic nature
      to offer learners the opportunity to get a good
      idea of different sectors. Across the spectrum of
      studies, course content becomes more specific,
      helping learners attain a better focus on the
      career path they would like to embark upon.
    </ion-card-content>

    <ion-card-content>
      An integral characteristic of VET, different
      programmes of study help learners benefit
      thoroughly from different forms of industry
      experience.
    </ion-card-content>
  </ion-card>

  <section>
<ion-grid>
  <ion-row>
  <ion-col width-50>
    <ion-card>
      <ion-card-content>
        MCAST courses are
        workoriented and prepare
        students for a smooth and
        seamless transition to
        employment.
      </ion-card-content>
      <ion-card-subtitle>Caroline Apap</ion-card-subtitle>
    </ion-card>
  </ion-col>

  <ion-col width-50>
    <ion-card>
      <ion-card-content>
        They instilled in me
        values of commitment,
        perseverance, time
        management and above all,
        a positive ‘can do’ attitude. 
      </ion-card-content>
      <ion-card-subtitle>Larkin Bonnici</ion-card-subtitle>
    </ion-card>
  </ion-col>
</ion-row>
</ion-grid>
  </section>
</ion-content>
