<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Arts (Honours) in  Financial Services Management </header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Financial Services
      or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-Levels: Accounts and Economics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>Targeting one of Malta’s
      strongest economic
      sectors, this degree in
      Financial Services offers
      learners the opportunity
      to get a detailed insight
      into the various aspects
      of Financial services,
      an industry which
      offers a range of career
      opportunities ranging
      from Risk Management
      to Fund Administration
      and Wealth Management.
      Apart from the more
      technical aspects related
      to financial services,
      learners will also gain
      the required analytical,
      critical and research skills
      that are required to work
      in such a high profile
      and demanding industry.
      Learners graduating
      from this degree find
      themselves in a very
      strong position in terms
      of employment as they
      are well geared to work
      in different sectors within
      this industry.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
