<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Foundation Certificate in Hairdressing, Beauty and Well-Being</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 2</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education
      or
      MCAST Introductory Certificate</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme of
      studies is ideal for those
      prospective learners who
      are still unsure about the
      specific career path that
      they wish to embark on.
      The advantage of this
      course is that it provides
      learners with an overview
      of the different routes
      which are available to
      them within the Institute
      of Community Services.
      The modules on offer
      provide learners with
      basic knowledge in
      health and safety
      practices employed
      during beauty and
      hairdressing techniques
      and procedures. Other
      modules focus on an
      understanding of the
      basic scientific concepts
      related to all hair and
      beauty services and
      treatments; and an
      introduction to basic
      business concepts.
      The course also
      provides learners with
      quality work-experience
      exposure where they will
      be expected to assist
      and carry out a range of
      assigned tasks, using
      approved models</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
