<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in ICT</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes
      Compulsory: one subject from Mathematics or
      Computer Studies or Physics or BTEC IT Practitioner/
      IT VET
      Preferred: English Language</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The ICT industry is a
      dynamic sector which
      requires a number of
      technical people to
      cope with the constantly
      evolving computing
      technologies. IT persons
      offer technical support in
      these technologies and
      help other IT specialists
      in their daily job.
      The Diploma in ICT
      is the first step in a
      block of a three-year
      training programme,
      designed to provide
      the necessary skills to
      work in the computing
      industry. At this level
      of study, learners
      will be introduced to
      fundamental subjects
      in the networking,
      software development,
      web development and
      multimedia areas. At
      the end of the course,
      learners will be able to
      use modern computer
      and multimedia systems
      and networks in the
      workplace.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
