<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Foundation
    Certificate in
    Horticulture and
    Animal Care</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 2</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education
      or
      MCAST Introductory Certificate
      Initial Assessment Tests (as may be applicable)</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course of studies
      is designed to equip
      learners with a range
      of basic skills and
      competencies enabling
      them to become
      competent in various
      land-based activities
      related to the agricultural
      sector.
      This programme of
      studies includes a
      significant amount of
      vocational practice that
      will provide a clear idea
      of the nature of the area
      that the learner may wish
      to follow in the future.
      Learners will have the
      opportunity to gain handson experience with farm
      animals, exotic animals
      and plants. Special focus
      will be given to soil, crop
      and animal management,
      livestock nutrition and
      farm maintenance. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
