<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in IT (Software Development)</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Years Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in IT
      or
      MCAST Diploma in IGaming
      or
      4 SEC/O-Level passes/SSC&P (Level 3) passes
      Compulsory: Mathematics and one subject from
      Computer Studies or Physics or Information Technology
      Preferred: English Language</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The Advanced Diploma
      in Software Development
      is a practical, hands-on
      qualification ensuring that
      learners utilise the most
      up-to-date practices and
      current programming
      languages. This course
      is the first step towards
      becoming a software
      developer. It will provide
      the learners with the core
      software development
      skills along with the
      necessary knowledge
      for the design and
      development of software
      applications. The first
      year of this course will be
      common for all learners
      following the advanced
      diploma. During the
      second year of studies,
      learners will focus on
      software development
      subjects such as: server
      side and client side
      scripting; database
      design and development;
      and mobile application
      development.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
