<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma for Pharmacy Technicians</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Applied Science
      or
      MCAST Diploma in Health and Social Care
      (with additional module in Chemistry)
      or
      4 SEC/O-Level/SSC&P (Level 3) passes
      Compulsory: English Language, Mathematics,
      Chemistry
      Preferred: Biology, Health and Social Care</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme of
      studies is designed to
      provide learners with
      the skills, knowledge
      and competencies
      necessary for a career as
      a pharmacy technician.
      Learners will be
      exposed to scientific and
      pharmaceutical principles
      and will be given a sound
      knowledge of healthrelated material, resulting
      in a holistic approach
      to effectively and
      competently embark on
      a career as a pharmacy
      technician.
      This course of studies
      is designed to provide
      learners with all
      the technical skills,
      knowledge of procedures,
      legislation and
      responsibilities required
      for such a career and
      includes work-related
      training and practice.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
