<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Introductory Certificate in Care</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 1</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme of
      study is an ideal start to
      a career in Health and
      Social Care for those
      learners who have just
      finished their compulsory
      education with minimum
      certification. This oneyear full-time programme
      does not qualify the
      learner to work in the
      sector, however, the
      vocational and key skill
      modules which make up
      the course specification
      will help the learner to
      progress slowly to higher
      levels of study.
      The course includes both
      practical and theoretical
      lectures which cover
      the basics of health and
      social care including
      basic nutrition, first
      aid and interpersonal
      communication with
      service-users that
      projects respect, integrity,
      dignity, and
      anti-discrimination.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
