<app-prospectus-header></app-prospectus-header>

<ion-content>
  <header text-center>Institute for the Creative Arts</header>

  <ion-grid>
  <ion-row>

  <ion-col col-6>
  <ion-button (click)="courses()" color="tertiary">
  <div>
  <ion-icon name="school-outline"></ion-icon> <br>
  <label>Courses</label>
  </div>
  </ion-button>
  </ion-col>

  <ion-col col-6>
  <ion-button (click)="info()" color="tertiary">
  <div>
  <ion-icon name="paper-plane-outline"></ion-icon> <br>
  <label>Institute</label>
  </div>
  </ion-button>
  </ion-col>

  </ion-row>
  </ion-grid>

<ion-card>
<ion-card-content>
  Formerly known as the Institute of Art and
  Design, this institute was established in 2001,
  merging the expertise of the Art and Design
  Centre and Salvatore Dimech School for
  Craftsmen. 
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    In 2014, the name was changed
    to Institute for the Creative Arts to reflect its
    growing portfolio of courses offered, ranging
    from art and design to graphic design and
    interactive media, creative media production,
    photography and journalism, and recently,
    fashion design and performing arts as well as
    cultural heritage skills.
    The Institute works closely with the industry
    to provide students with realistic assignment
    briefs and experiences. The creative arts play a
    crucial role in communicating visions and ideas
    which words alone cannot fully express. They
    may also be perceived as means to educate, to
    provide a cultural identity and act as agents of
    change.
      </ion-card-content>
  </ion-card>
  
</ion-content>
