<app-prospectus-header title="Advanced Diploma Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Advanced Diploma in <br> Aviation Operations
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Advanced Diploma in <br> Building Services <br> Engineering
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Advanced Diploma in <br> Construction Engineering
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Advanced Diploma in <br> Heating, Ventilation <br> and Air-Conditioning
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Advanced Diploma in <br> Joinery, Furniture Design <br> and Manufacturing
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn6()" expand="block" color="light">Advanced Diploma in <br> Masonry Heritage <br> Skills (Mastru)
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn7()" expand="block" color="light">Advanced Diploma in <br> Plumbing and Liquid Petroleum <br> Gas Systems
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn8()" expand="block" color="light">Advanced Diploma in <br> Welding and Fabrication
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn9()" expand="block" color="light">Advanced Diploma in <br> Industrial Electronics
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn10()" expand="block" color="light">Advanced Diploma for <br> Polymer Process Technicians
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn11()" expand="block" color="light">Advanced Diploma in <br> Light Vehicle Maintenance
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn12()" expand="block" color="light">Advanced Diploma in <br> Manufacturing
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn13()" expand="block" color="light">Advanced Diploma in <br> Marine Engineering
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn14()" expand="block" color="light">Advanced Diploma in <br> Operations and Maintenance
    </ion-button>
  </section>

</ion-content>
