<app-prospectus-header></app-prospectus-header>

<ion-content>
  <header text-center>Institute of Information and Communication Technology </header>

  <ion-grid>
  <ion-row>

  <ion-col col-6>
  <ion-button (click)="courses()" color="warning">
  <div>
  <ion-icon name="school-outline"></ion-icon> <br>
  <label>Courses</label>
  </div>
  </ion-button>
  </ion-col>

  <ion-col col-6>
  <ion-button (click)="info()" color="warning">
  <div>
  <ion-icon name="paper-plane-outline"></ion-icon> <br>
  <label>Institute</label>
  </div>
  </ion-button>
  </ion-col>

  </ion-row>
  </ion-grid>

<ion-card>
<ion-card-content>
  The Institute of Information and Communication
  Technology is the natural choice one should
  consider before finding a job in the ICT industry.
  This is a dynamic sector which requires a
  number of technical people to cope with the
  constantly evolving computing technologies.
  The Institute offers various entry points for
  everyone to successfully obtain the required
  qualification with the possibility to continue
  furthering their studies at higher levels.
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    We
    work closely with the industry to keep our
    courses relevant to their needs while providing
    the best training using the latest tools and new
    emerging technologies.  
  </ion-card-content>
  </ion-card>
  
</ion-content>
