<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Foundation Certificate in Applied Science</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 2</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education
      or
      MCAST Introductory Certificate
      Initial Assessment Tests (as may be applicable)</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme of
      studies is aimed at giving
      learners the opportunity
      to further their studies in
      several diverse sciencerelated areas including
      environmental, health
      and industrial sciences.
      Learners will cover
      various topics such as
      Chemistry, Physics,
      Biology, English, Maltese,
      Mathematics and IT
      which will be taught
      in an applied manner
      that is relevant to the
      various science sectors
      in which employment
      may be sought with a
      higher qualification. This
      programme is particularly
      suitable for learners
      who have a scientific or
      technical aptitude, even
      if they have not decided
      fully on their ultimate
      career choice.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
