<app-prospectus-header title="Advanced Diploma Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Advanced Diploma for <br> Pharmacy Technicians
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Advanced Diploma in <br> Applied Science
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Advanced Diploma in <br> Environmental Sustainability
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Advanced Diploma in <br> Health Sciences
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Advanced Diploma in <br> Food Technology
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn6()" expand="block" color="light">Advanced Diploma in <br> Animal Management and <br> Veterinary Nursing
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn7()" expand="block" color="light">Advanced Diploma in <br> Fish Management 
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn8()" expand="block" color="light">Advanced Diploma in <br> Horticulture
    </ion-button>
  </section>

</ion-content>