<app-prospectus-header title="Degree Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Higher Diploma in Advanced <br> Studies in the Early Years
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Bachelor of Arts (Honours) <br> in Health and Social Care <br> (Management)
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Bachelor of Arts (Honours) <br> in Inclusive Education
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Bachelor of Science (Honours) <br> in Sport, Exercise and <br> Health
    </ion-button>
  </section>

</ion-content>