<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Introductory Certificate in Art and Design</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 1</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education
      Initial Assessment Tests (as may be applicable)</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme of
      studies provides learners,
      who completed their
      compulsory education
      and are in possession
      of their Secondary
      School Certificate and
      Profile (SSC&P), with an
      opportunity to follow an
      introductory course in the
      field of art and design.
      The programme of
      studies focuses on basic
      art and design principles,
      with an emphasis on
      vocational practice.
      This enables learners
      to understand better the
      vocation they intend to
      follow and prepare them
      for further training in the
      field. Key skills subjects
      help the learners improve
      their competences within
      basic areas such as
      language, numeracy,
      information technology,
      science and individual
      and social responsibility</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
