<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Arts (Honours) in Product Design</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Art and Design
      or
      MCAST Advanced Diploma in Fashion and Retail
      or
      MCAST Advanced Diploma in Performing Arts
      or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-Level: Art, or Graphical Communication,
      or Engineering Drawing, or Physics
      As from 2021/22, internal progression will only be
      limited to MCAST Advanced Diploma in Art and Design
      Applicants may be asked to sit for an interview and/or
      present their Portfolio.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This degree prepares
      learners to work in
      the creative design of
      furniture and industrial
      product. Learners
      learn how to respond
      to complex design
      briefs by investigating
      different cultural, social,
      economic contexts
      and the development
      of design products.
      Learners will take
      individual responsibility to
      research and effectively
      communicate their
      creative ideas using
      visual communication and
      CAD software to present
      technical and creative
      renders of effective
      product designs.
      Guided lectures will
      provide learners with
      knowledge on
      fundamental topics
      such as sustainability,
      environmental studies,
      functional design,
      traditional 3D production
      and innovative
      technologies, also
      supported with the
      necessary skills to
      transform their designs
      into physical prototypes
      within industry-based
      scenarios. At the end
      of the course, learners
      would have built a
      portfolio of work which
      will serve them well for
      career opportunities</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
