<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Foundation Certificate in Care</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 2</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education
      or
      MCAST Introductory Certificate</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This full-time programme
      of studies is aimed at
      those individuals who
      wish to embark on a
      future career in the Health
      and Social Care Sector.
      During the year the
      learners have a variety of
      lectures which give them
      an understanding of basic
      concepts related to this
      sector. Lectures focus
      on human behaviour, the
      way the body works and
      what constitutes a safe
      working environment.
      Students are given the
      opportunity to strengthen
      their key skills subjects
      including Maltese,
      English, Mathematics
      and Science through the
      vocational angle.
      Learners have the
      opportunity to visit
      organisations related to
      this sector so that they
      become accustomed to
      the setting. At the end
      of this one-year course,
      students will have the
      opportunity to progress to
      the Diploma level in the
      same sector. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
