<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
<header>Diploma in Mechanical Engineering</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level passes/SSC&P (Level 3) preferred
      Mathematics, Physics, Chemistry or Engineering
      Technology </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>If learners intend
      to embark on an
      engineering career
      specialising particularly
      in the mechanical
      sector, then this course
      is recommended. This
      MCAST programme is
      designed to provide basic
      theory and practice that
      can be further enhanced
      through work experience.
      Learning takes place by
      attending lectures in the
      classroom, workshops
      and laboratories, and by
      completing projects and
      assignments that are
      often based on realistic
      workplace situations. The
      course covers the basic
      knowledge and practical
      skills, providing a good
      foundation for future
      career opportunities in
      engineering. Learners
      are exposed to a
      deeper knowledge in
      related subjects such as
      Mathematics, Physics,
      Engineering Drawing and
      information Technology</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
