<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
<header>Diploma in Electrical Installations</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes
      Preferred: Mathematics, Physics or Engineering
      Technology</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme is the
      first stage for a learner
      who is interested in
      a career in electrical
      systems such as that of
      an Electrician within the
      construction industry.
      It contributes towards
      an understanding of
      the relevant theory
      and allows learners to
      develop the practical
      skills required in this field.
      The programme consists
      of twelve modules, out of
      which six are vocational
      related and the rest are
      key skills related.
      Vocational modules
      focus on the basics
      of wiring electrical
      installation circuits using
      different cables and
      containment, electrical
      installation regulations,
      and health and safety
      requirements governing
      electrical installation
      processes. The rest of
      the modules provide an
      opportunity for learners
      to have adequate skills
      in Maltese, English,
      Mathematics, Information
      Technology and Science
      and Technology.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
