<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Accounting </header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Business
      or
      MCAST Diploma in Postal Services
      or=
      4 SEC/O-Level /SSC&P (Level 3) passes
      Compulsory: English Language and Mathematics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course aims to
      give learners a very
      good grounding in the
      studying of Accounts.
      Study areas range from
      aspects of financial
      and management
      accounting, using of
      accounting software,
      and more generic
      areas of key skills.
      The course includes
      hands-on experience
      through Apprenticeship
      were students will learn
      by doing and gain
      experience first-hand
      on the application of the
      theory. Students who
      finish the course will not
      be qualified accountants,
      but will have a very
      good understanding and
      possess the required
      skills to work in an
      accounts department.
      Learners following this
      programme will also
      be prepared to sit for
      AAT (Association of
      Accounting Technicians)
      UK International
      Examinations.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
