<app-prospectus-header></app-prospectus-header>

<ion-content>
  <header text-center>Institute of Applied Science</header>

  <ion-grid>
  <ion-row>

  <ion-col col-6>
  <ion-button (click)="courses()" color="#5da733">
  <div>
  <ion-icon name="school-outline"></ion-icon> <br>
  <label>Courses</label>
  </div>
  </ion-button>
  </ion-col>

  <ion-col col-6>
  <ion-button (click)="info()" color="#5da733">
  <div>
  <ion-icon name="paper-plane-outline"></ion-icon> <br>
  <label>Institute</label>
  </div>
  </ion-button>
  </ion-col>

  </ion-row>
  </ion-grid>

<ion-card>
    <ion-card-content>
      Applied Science relates to the application of
      scientific knowledge to practical challenges
      and jobs. At the Institute of Applied Sciences,
      learners are prepared for technological
      careers within the health, pharmaceutical,
      environmental, food and beverage, or general
      engineering sectors. 
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    Students learn to
    appreciate how the fundamental principles of
    science relate to the technological operations
    of the workplace, while developing the skills to
    work in laboratories, hospitals, farms, and with
    environmental technologies and
    methodologies, as well as to apply basic
    scientific principles in industrial settings.
  </ion-card-content>
  </ion-card>
  
</ion-content>
