<app-prospectus-header title="Diploma Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Diploma in Aircraft Maintenance
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Diploma in Aircraft <br> Structures and Repairs
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Diploma in Building Services <br> Installations (Plumbing or Plumbing <br> and Electrical)
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Diploma in Construction <br> and Stone Masonry
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Diploma in Construction <br> Engineering
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn6()" expand="block" color="light">Diploma in Heating, Ventilation <br> and Air-Conditioning
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn7()" expand="block" color="light">Diploma in Joinery and <br> Furniture Making
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn8()" expand="block" color="light">Diploma in Masonry Heritage <br> Skills (Sewwej)
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn9()" expand="block" color="light">Diploma in Trowel Trades <br> (Plastering and Tile Laying <br> or Painting and Decorating)
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn10()" expand="block" color="light">Diploma in Welding <br> and Fabrication
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn11()" expand="block" color="light">Diploma in Electrical <br> Installations
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn12()" expand="block" color="light">Diploma in Engineering <br> (Electronics)
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn13()" expand="block" color="light">Diploma in Automotive Repair <br> (Body and Paint)
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn14()" expand="block" color="light">Diploma in Light <br> Vehicle Servicing
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn15()" expand="block" color="light">Diploma in Mechanical <br> Engineering
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn16()" expand="block" color="light">Diploma in Deck <br> Operations
    </ion-button>
  </section>

</ion-content>
