<app-prospectus-header title="Advanced Diploma Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Course Name 1
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Course Name 2
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Course Name 3
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Course Name 4
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Course Name 5
    </ion-button>
  </section>

</ion-content>
