<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
<header>Diploma in Light Vehicle Servicing</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level passes/SSC&P (Level 3) passes
      Compulsory: Mathematicsor Physics </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme, is for
      learners who would
      like to start developing
      a strong grounding
      in the field of motor
      vehicle engineering and
      maintenance. Through
      the various aspects of
      training that this course
      provides, learners
      should be able to gain
      a good understanding
      of the basic systems
      found in light vehicles
      and safe handling of
      tools. Learners will also
      develop essential skills
      of the trade, including
      the carrying out of basic
      routine checks, the
      replacement of parts as
      required in the periodic
      servicing of vehicles, and
      maintaining appropriate
      service records. In this
      programme, learners
      will also follow studies in
      key skills subjects, such
      as English, Maltese,
      Mathematics, Information
      Technology and Individual
      and Social Responsibility.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
