<app-prospectus-header title="Degree Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Bachelor of Science (Honours) <br> in Computer Systems <br> and Networks <br>
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Bachelor of Science (Honours) <br> in Software Development <br>
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Bachelor of Science (Honours) <br> in Multimedia <br> Software Development 
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Bachelor of Science (Honours) <br> in Business Analytics <br>
    </ion-button>
  </section>

</ion-content>
