<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Higher Diploma in Masonry Heritage Skills (Kapumastru)</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 5</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Masonry Heritage Skills
      (Mastru)
      or
      Advanced Diploma in Cultural Heritage Skills
      or
      2 A-Level passes and 2 I-Level passes
      Preferred: Physics or Chemistry at Intermediate Level
      (Preferably at A-Level)
      Preferred O-Level: English and Mathematics
      Other Entry Requirements:
      Previous experience in the Construction Industry will be
      considered an asset.
      Applicants may be asked to sit for an aptitude test prior
      to final selection. 
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The demand for the
      conservation and
      restoration of stone
      monuments and of
      historic buildings and
      artefacts is increasing.
      Likewise, those who
      manage projects involving
      various building materials
      are in great demand.
      This course is intended
      for those who would like
      to acquire knowledge
      and skills related to
      the conservation and
      restoration of buildings
      and monuments where
      the main construction
      material is the local
      limestone. They will be
      able to apply restoration
      and conservation
      techniques following
      best practices, both in
      College-based workshops
      and laboratories as well
      as on heritage sites. This
      course also provides
      quantity surveying skills
      as applied to restoration </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
