<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in Horticulture</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course of studies
      consists of four different
      modules: viticulture,
      floral design, gardening
      and nursery production,
      crop production and
      processing. Practical
      sessions and work
      experience form an
      integral part of the
      programme of studies,
      providing the learners
      with the required skills
      and competencies to
      improve employment
      opportunities. The course
      also provides a good
      foundation for future
      career prospects in the
      respective fields as
      well as for progression
      to a more advanced
      qualification.
      This programme also
      gives the learner the
      possibility to choose
      one’s own combination of
      different modules leading
      to certification of an
      award for each individual
      stand-alone module
      that the learner has
      successfully completed.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
