<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Arts (Honours) in Game Arts and Visual Design</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Art and Design
      or
      MCAST Advanced Diploma in Graphic Design
      and Interactive Media
      or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-Level: Art, or Art and Design,
      or equivalent
      Applicants may be asked to sit for an interview and/or
      present their Portfolio</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This degree programme
      has been developed in
      response to the increased
      demand for trained artists
      and designers who are
      able to produce rich,
      interactive experiences
      by developing conceptual
      visual graphics for digital
      games. Learners further
      their skills in drawing and
      illustration - the basis for
      the eventual development
      of game art.
      They acquire grounding
      in essential art and
      design principles, as
      well as computergenerated design, and
      concurrently receive
      a basic knowledge of
      related theory, analysis
      and practice. This
      includes game design,
      psychology of play, user
      interface (UI), narrative
      study, digital imaging,
      3D-modelling and
      animation. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
