<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Business Administration </header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes
      Preferred: Business Studies</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course will allow
      learners to study the
      different areas of
      business administration.
      It is aimed either at
      students who aspire to
      one day open up their
      own business or follow
      in their family business,
      or else to work in the
      administration of a
      company at a junior level.
      This generic course offers
      a good basis into the
      main areas of business
      administration including
      office administration,
      accounts, marketing,
      recruitment, and health
      and safety among others.
      The course, which is
      assessed through a
      variety of scenario related
      assessments, also
      sees learners go out on
      Apprenticeship where
      a holistic hands-on and
      practical approach is
      adopted.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
