<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Foundation Certificate in Applied Science</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 2</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, dicta </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirments</ion-card-title>
    <ion-card-content>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae error quidem non vel omnis tempore quod tempora doloremque quas velit id illum, soluta, quia rem commodi libero ratione temporibus.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
