<app-prospectus-header></app-prospectus-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      The Institute of Information and Communication
      Technology is the natural choice one should
      consider before finding a job in the ICT industry.
    </ion-card-content>

    <ion-card-content>
      This is a dynamic sector which requires a
      number of technical people to cope with the
      constantly evolving computing technologies.
      The Institute offers various entry points for
      everyone to successfully obtain the required
      qualification with the possibility to continue
      furthering their studies at higher levels. 
    </ion-card-content>

    <ion-card-content>
      We
      work closely with the industry to keep our
      courses relevant to their needs while providing
      the best training using the latest tools and new
      emerging technologies.
    </ion-card-content>
  </ion-card>

  <section>
<ion-grid>
  <ion-row>
  <ion-col width-50>
    <ion-card>
      <ion-card-content>
        It has shaped my
        personality, work ethic and
        developed the social skills
        and competences. 
      </ion-card-content>
      <ion-card-subtitle>Keith Demicoli</ion-card-subtitle>
    </ion-card>
  </ion-col>

  <ion-col width-50>
    <ion-card>
      <ion-card-content>
        I also partnered with
        two classmates to start a
        software company which
        is called Preeo Software.
      </ion-card-content>
      <ion-card-subtitle>Mark Phillip</ion-card-subtitle>
    </ion-card>
  </ion-col>
</ion-row>
</ion-grid>
  </section>
</ion-content>
