<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Master of Exercise and Sports Science</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>5 Semesters</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Relevant Degree. Level 5 qualification and adequate professional experience is also considered. </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The Master of Science
      in Exercise and Sport
      Science presents a
      multidisciplinary focus to
      help students understand
      the relationship
      between health and
      human performance.
      As an academic
      program, the Masters of
      Science will introduce
      translational research
      and provide essential
      foundations from the
      bases of physiology,
      biomechanics, motor
      behavior, and psychology.
      Using the social
      ecological approach to
      addressing the needs
      for health and human
      performance for the
      workforce in Malta, the
      program recognizes
      societal needs, introduces
      evidence-based
      strategies for intervention,
      and evaluates the impact
      of these services on
      health outcomes and
      productivity. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
