<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in Aircraft Maintenance</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes
      Compulsory: Physics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme of
      studies is designed to
      prepare learners with the
      necessary underpinning
      knowledge required
      for a career in Aircraft
      maintenance. It covers
      the main aspects of
      aircraft structures and
      systems, materials
      and maintenance
      practices, as well as the
      fundamentals of electrical
      and digital techniques.
      The course includes
      practical elements and
      exposure within the
      Aircraft maintenance
      organisations.
      This course also
      provides learners with
      the opportunity to further
      develop their knowledge
      of key skills subjects such
      as Mathematics, Science,
      English, Maltese,
      Information Technology
      and Individual and Social
      Responsibility.
      Successful candidates
      can further their studies
      towards EASA Part-66
      certification.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
