<app-prospectus-header></app-prospectus-header>

<ion-content>
  <header text-center>Gozo Campus </header>

  <ion-grid>
  <ion-row>

  <ion-col col-6>
  <ion-button (click)="courses()" color="#1abcee">
  <div>
  <ion-icon name="school-outline"></ion-icon> <br>
  <label>Courses</label>
  </div>
  </ion-button>
  </ion-col>

  <ion-col col-6>
  <ion-button (click)="info()" color="#1abcee">
  <div>
  <ion-icon name="paper-plane-outline"></ion-icon> <br>
  <label>Institute</label>
  </div>
  </ion-button>
  </ion-col>

  </ion-row>
  </ion-grid>

<ion-card>
<ion-card-content>
  The MCAST Gozo Campus offers a selection
  of 24 fulltime day courses ranging from MQF
  Levels 1 to 6 and covering a broad spectrum
  of vocational disciplines. Some of these
  programmes lead learners directly to
  employment, whist others lead to higher level
  studies in Gozo and/or Malta. In either case,
  learners are thoroughly prepared for their next
  step, whichever that may be.
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    MCAST training programmes delivered at the
    GozoCampus fulfil the same quality assurance
    standards that are applicable to the same
    programmes delivered at the respective
    MCAST Institutes in Malta, ensuring that
    Gozitan students benefit from the same quality
    of service on their home ground. Learners
    hailing from the northern region of Malta who
    choose to study at the Gozo Campus are
    eligible for a government subsidy.
  </ion-card-content>
  </ion-card>
  
</ion-content>
