<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Light Vehicle Maintenance</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Automotive Maintenance and
      Repair
      or
      MCAST Diploma in Mechanical Engineering
      or
      MCAST Diploma in Aircraft Maintenance
      or
      4 SEC/O-Level/SSC&P (Level 3) passes
      Compulsory: One subject from Mathematics or Physics
      and one subject from Engineering Technology, Design
      & Technology, Chemistry, Mathematics, Physics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This qualification is for
      candidates wanting
      to develop some of
      the essential skills
      and understanding in
      motor vehicle systems.
      Learners will be able
      to identify hazards and
      risks in the automotive
      environment and work
      safely with equipment,
      materials and products.
      Learners should also
      gain a good knowledge
      of tools and measuring
      devices as well as
      routine light vehicle
      maintenance. Learners
      will be expected to
      develop an understanding
      of the construction and
      operation of common
      steering, suspension
      engines and many
      important systems
      (including mechanical
      and electrical) as
      well as procedures
      involved in the
      inspection, serviceability,
      adjustments, removal
      and replacement of
      components and the
      evaluation of their
      performance.
      Applicants coming in
      through the O-Level route
      may be requested to
      complete an additional
      Level 4 preparatory year
      if they do not already
      have prior exposure and
      experience within the
      area in question.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
