<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in Hairdressing - Women Women</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes
      Preferred: English Language, Biology, Chemistry,
      Physics, Home Economics, General Science, Art</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>Hairdressing is a creative
      industry which requires
      skilled technical stylists to
      cope with the customers’
      demands. In today’s
      fast-moving world selfimage is your brand. This
      programme of studies
      provides the learners with
      the skills and confidence
      to step onto the road
      to success.
      Learners cover a variety
      of interesting studyunits such as client
      consultation, hair styling
      for different occasions,
      hair colouring, perming
      and straightening. This
      includes experience in
      the Community Services
      Salons as well as
      placements in industry as
      part of the apprenticeship
      scheme. Learners further
      develop their knowledge
      in key skills. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
