<app-prospectus-header title="Advanced Diploma Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Advanced Diploma in <br> Business Administration
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Advanced Diploma in <br> Finance and Insurance
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Advanced Diploma in <br> Accounting
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Advanced Diploma in <br> Marketing
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Advanced Diploma in <br> Administrative and <br> Secretarial Studies
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn6()" expand="block" color="light">Advanced Diploma in <br> Retail
    </ion-button>
  </section>

</ion-content>
