<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Foundation Certificate in Creative ARts</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 2</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education
      or
      MCAST Introductory Certificate
      Initial Assessment Tests (as may be applicable) </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme of
      studies provides an
      opportunity to learners,
      in possession of the
      Secondary School
      Certificate and Profile
      (SSC&P), to follow a
      structured programme
      that explores the basics
      of various Creative
      Art disciplines, namely
      Art, Design, Media and
      Performing Arts. The
      programme includes a
      significant amount of
      vocational practice, as
      well as essential key
      skills subjects that will
      help learners form a
      clear idea of the nature
      of the vocation they
      intend to follow at higher
      levels while, at the same
      time, developing their
      competences within basic
      areas such as language,
      numeracy, information
      technology, science and
      individual and social
      responsibility.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
