<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Fish Managment</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Fish Husbandry
      or
      MCAST Diploma in Animal Care
      or
      MCAST Diploma in Horticulture
      or
      MCAST Diploma in Applied Science
      or
      4 SEC/O-Level /SSC&P (Level 3) passes </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course of studies
      offers the learner a
      wide perspective of
      different aspects of fish
      management and will
      provide them with a
      broad knowledge and
      aptitude related to the
      fish husbandry sector
      and industry. Learners
      will acquire knowledge,
      skills and competencies
      in both the farmed
      and ornamental fish
      husbandry industries.
      This programme of
      studies also exposes
      learners to key concepts
      related to wild stock
      fisheries management.
      The programme will give
      an opportunity to learners
      to gain experience
      while learning new
      skills and are constantly
      encouraged to relate
      theory to practice at
      all stages through
      assignments, projects,
      practical work and work
      placements. Scheduled
      fish husbandry duties
      form an integral part of
      the curriculum.  </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
