<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Fashion & Retail</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Art and Design
      or
      MCAST Diploma in Media
      or
      any MCAST Level 3 Diploma
      or
      4 SEC/O-Level /SSC&P (Level 3) passes
      Preferred: English Language
      Applicants may be asked to sit for an interview and/or
      present a portfolio.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course is designed
      to address the skills
      shortages in the fashion
      design and production
      sector. Learners
      undertaking the course
      also learn important skills
      required for the fashion
      retail sector, together with
      basic entrepreneurial
      knowledge to support
      those Learners who
      would like set-up their
      own atelier in the
      future. The first year of
      the programme offers
      learners the cultural,
      theoretical and creative
      aspects of the subject.
      Another important area
      is the pattern drafting
      and sewing techniques
      in preparation for their
      second year.
      The second year of
      studies provides learners
      with the opportunity to
      develop further their
      knowledge and skills
      in the specialisation.
      They will participate
      in apprenticeship
      programmes as well as
      present their own design
      concepts in a fashion
      collection as their final
      major project.
      </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
