<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Health Science</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Applied Science
      or
      MCAST Diploma in Health and Social Care
      or
      4 SEC/O-Level /SSC&P (Level 3) passes
      Compulsory: English Language, Mathematics, Biology
      Preferred: Maltese, Chemistry, Health and Social Care</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme of
      studies has been
      developed to prepare
      individuals for healthrelated careers. The
      study-units deal with
      the anatomy and
      physiology of the human
      body, the physical and
      psychological changes
      due to aging, and will
      help learners to build
      competencies that
      will help when dealing
      with people with health
      issues and challenging
      behaviour.
      Through work
      placements, learners
      will get the opportunity
      to develop the skills and
      competencies required
      to work within the health
      sector.
      The Level 5 Award
      given in conjunction
      with this course will no
      longer be offered from
      students enrolling from
      academic year
      2022-2023 onwards.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
