<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Arts (Honours) in Inclusive Education</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Children’s Care, Learning
      and Development
      or
      MCAST Advanced Diploma in Health and Social Care
      (Social Care)
      or
      2 A-Level passes and 2 I-Level passes, to include at
      least one A-Level and one I-Level from Mathematics,
      English, Maltese, Philosophy, Sociology, Psychology</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme of
      study focuses on how
      educational institutions,in
      general, and specifically,
      the classroom settings
      can become more
      inclusive to cater for
      different individual needs.
      The undergraduates
      tackle a variety of
      study-units aimed at
      identifying what barriers
      exist which may be
      preventing all students
      from accessing quality
      education. Furthermore,
      the study-units also
      explore innovative
      techniques how these
      barriers can be overcome
      so that all students during
      compulsory schooling
      years, and possibly
      beyond, feel valued.
      This course includes
      internship opportunities
      aimed at developing a
      mindset of promoting
      inclusive communities
      that celebrate diversity
      and cater for the diverse
      needs of different group
      of students.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
