<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Master of Science in Environmental Engineering</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>5 Semesters</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Relevant Degree. Level 5 qualification and adequate professional experience is also considered. </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The Master of Science
      in Environmental
      Engineering programme
      takes an interdisciplinary
      approach into the
      investigation of processes
      that control the earth
      and its environment. The
      programme will deliver
      all necessary knowledge
      and skills to seize
      opportunities presented
      by new developments
      in areas such as global
      cycles, biogeochemistry,
      sustainable technologies,
      waste and water
      treatment, environmental
      pollution assessment
      and remediation, and
      natural hazard. A special
      focus on environmental
      auditing and impact
      assessment shall be
      made, particularly in
      water, energy, noise and
      traffic auditing. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
