<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Masonry Heritage Skills (Mastru)</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Trowel Trades (Plastering and
      Tile Laying or Painting and Decorating)
      or
      MCAST Diploma in Construction and Stone Masonry
      or
      MCAST Diploma in Construction Engineering
      or
      MCAST Diploma in Heating, Ventilation and Air
      Conditioning
      or
      MCAST Diploma in Masonry Heritage Skills (Sewwej)
      or
      MCAST Diploma in Building Services Installations
      (Plumbing or Plumbing and Electrical)
      or
      4 SEC/O-Level/SSC&P (Level 3) passes
      Preferred: English, Physics, Chemistry, Engineering
      Technology</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course of studies
      gives learners the
      necessary knowledge
      and skills in the area of
      stone restoration and
      conservation. It offers
      learners the competences
      they will need in order
      to be able to analyse
      and generate solutions
      concerning typical
      restoration interventions.
      The practical training is
      carried out in Collegebased workshops
      and laboratories as
      well as on heritage
      sites. Throughout the
      programme learners
      will have the unique
      opportunity to work on
      historical heritage sites
      and structures, to master
      maintenance, protection
      and preservation skills,
      and apply cleaning
      and testing techniques.
      Applicants have to be
      able to work within the
      industries concerned.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
