<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in Performing Arts</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The performing arts
      sector is steadily
      growing and becoming
      more professionalized.
      Learners embark on this
      programme of studies
      if, in the future, they see
      themselves working in
      music, theatre, dance,
      management, production,
      design or technical
      aspects of the performing
      arts, or if they are just
      wondering if this would
      be the right career path
      for them.
      This multidisciplinary
      course gives learners
      a sound introduction to
      the various disciplines
      and elements that make
      up the performing arts
      sector through hands-on
      projects based on theory.
      Moreover, this course
      provides learners with
      the ideal foundation upon
      which to base further
      studies in the process of
      becoming a performing
      arts professional.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
