<app-prospectus-header title="Advanced Diploma Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Advanced Diploma in <br> Accounting
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Advanced Diploma in <br> Financial Services
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Advanced Diploma in <br> Health Sciences
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Advanced Diploma in <br> Health and Social Care 
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Advanced Diploma in <br> Children’s Care, Learning <br> and Development
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn6()" expand="block" color="light">Advanced Diploma in <br> Electrical Systems
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn7()" expand="block" color="light">Advanced Diploma in <br> IT (Computer Systems and <br> Networks)
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn8()" expand="block" color="light">Advanced Diploma in <br> IT (Multimedia <br> Software Development)
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn9()" expand="block" color="light">Advanced Diploma in <br> IT (Software Development)
    </ion-button>
  </section>

</ion-content>