<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Arts (Honours) in Spatial Design</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Art and Design
      or
      MCAST Advanced Diploma in Fashion and Retail
      or
      MCAST Advanced Diploma in Performing Arts
      or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-Level: Art, or Graphical Communication,
      or Engineering Drawing, or Physics
      As from 2021/22, internal progression will only be
      limited to MCAST Advanced Diploma in Art and Design
      Applicants may be asked to sit for an interview and/or
      present their Portfolio.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This degree aims to
      provide learners with the
      essential communication
      skills to visually interpret
      industry-related spatial
      design projects of both
      internal and external
      spaces. Learners will
      develop critical analysis
      and independent thinking
      to project management
      competences to transform
      three-dimensional
      volumes into innovative
      spatial experiences. They
      will explore innovative
      constructional materials
      and technology to
      develop their projects,
      with attention to
      sustainability and
      environment, considering
      also light effects in the
      design brief.
      Learners will also learn
      how to generate technical
      drawing skills and artistic
      visuals using CAD
      software to communicate
      concepts and details in a
      realistic manner, as well
      as develop model-making
      skills.
      At the end of the course,
      Learners will have built
      a portfolio of work which
      will serve them well for
      work opportunities.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
