<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Science (Honours) in Environmental Health</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Health Sciences
      or
      MCAST Advanced Diploma in Environmental Sustainability
      or
      MCAST Advanced Diploma in Food Technology
      or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-Level: Biology
      Preferred A-Level: English, Chemistry
      Preferred I-Level: Chemistry, Mathematics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>Prospective learners
      following this programme
      will be dealing with
      the various, often
      inter-related, facets of
      environmental health that
      include: public health;
      environmental health and
      safety; food and water
      safety; health aspects
      relating to domestic,
      leisure and work-place
      environments, and the
      impact of these various
      factors on the individual
      and on society at large.
      Learners will gain the
      knowledge, skills and
      competences on how
      to assess, analyse,
      devise and implement
      efficient solutions to
      environmental health
      issues, with a view that
      successful candidates
      may be employed in
      advisory, enforcement
      or educational positions.
      They will also learn about
      current local policies and
      legal frameworks that
      oversee the governance
      of these environmental
      health factors.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
