<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in Joinery and Furniture Making</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course of studies
      combines theoretical
      knowledge with practical
      training both off-the-job
      and on work placement.
      The practical training is
      carried out in campusbased industrial
      workshops.Learners are
      expected to participate
      individually and in teams
      to install pipe systems,
      fittings and control
      systems with the use
      of actuators and solar
      panels installations.
      The course includes
      the practical handling of
      hand tools, power tools
      and typical trade tools,
      such as thread cutting
      machines.
      This course also
      provides learners with
      the opportunity to further
      develop their knowledge
      of key skills subjects such
      as Mathematics, Science,
      English, Maltese,
      Information Technology
      and Individual and Social
      Responsibility.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
