<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Science (Honours) in Quantity Surveying</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Years Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Building Services
      Engineering
      or
      MCAST Advanced Diploma in Construction Engineering
      or
      MCAST Advanced Diploma in Civil Engineering
      or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-Level: At least one A-Level pass from
      Accounts, Engineering Drawing, Mathematics
      (Pure or Applied), Physics
      Preferred I-Level: Engineering Drawing and Graphical
      Communications
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course prepares
      the learner for a
      successful career in
      quantity surveying.
      During the programme,
      the learner will develop
      a comprehensive
      understanding of
      the disciplines which
      underpin construction
      management and the
      surveying professions.
      This knowledge will
      includes economics,
      law, industry practice
      and building technology.
      The programme has a
      strong focus on project
      work and interdisciplinary
      collaboration is highly
      encouraged.
      The BSc Quantity
      Surveying programme
      leads to a development
      of specialist knowledge
      related to construction
      economics and contract
      law, with a particular
      focus on managing costs
      throughout the project
      life-cycle from early
      design through to building
      completion and beyond.
      As part of this programme
      the learners will also
      complete a dissertation
      and a quantity surveying
      project, in which they will
      prepare a design cost
      plan for a project.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
