<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Arts (Honours) in Health and Social Care (Management)</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Applied Science
      or
      MCAST Advanced Diploma for Pharmacy Technicians
      or
      MCAST Advanced Diploma in Health Sciences
      or
      MCAST Advanced Diploma in Health and Social Care
      (Social Care)
      or
      MCAST Diploma for Dental Surgery Assistants
      or
      2 A-Level passes and 2 I-Level passes and SEC/O-Level Pass in English Language
      Preferred (A-Level or I-Level): Chemistry, Biology,
      Physics, Sociology, Psychology, Home Economics and
      Human Ecology, Accounts, Economics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The Health and Social
      Care sector provides
      a number of career
      opportunities for
      successful learners to find
      engaging and rewarding
      employment at the end
      of this programme of
      studies. Throughout the
      duration of the course,
      which spans three years
      on a full-time basis,
      the undergraduates
      participate in work
      placement experiences
      in related settings
      under the supervision
      of experienced
      professionals.
      This programme of
      studies includes a
      varied pool of modules
      aimed at enhancing
      the undergraduates’
      managerial attributes
      --- amongst which
      “Governance and quality
      management” and
      “European Law and
      Social Policy”. Other
      study-units focus on
      the importance of the
      undergraduate to keep
      abreast of current issues
      that different categories
      of service-users may
      encounter.*</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
