<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Food Technology</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Applied Science
      or
      MCAST Diploma in Mechanical Engineering
      or
      MCAST Diploma in Engineering (Electronics)
      or
      4 SEC/O-Level /SSC&P (Level 3) passes
      Preferred: English Language, Mathematics, Home
      Economics, Physics, Chemistry, Biology, Design and
      Technology</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The food and beverage
      industry is a dynamic
      sector which requires a
      number of highly skilled
      technical people to cope
      with constantly changing
      customers’ demands
      and new innovative
      production technologies.
      Food technologists
      monitor day-to-day
      manufacturing activities;
      ensure that safety and
      quality standards are met;
      improve existing products
      and design innovative
      foods and drinks.
      This is a multidisciplinary
      programme offered
      across four Institutes
      and includes topics on
      food analysis, product
      manufacturing, food
      safety, cost accounting
      and product design.
      The programme
      provides learners with
      the opportunity to
      gain knowledge of the
      industry and insights
      into the relevant tools
      and skills through workbased elements. This
      programme prepares
      learners for employment
      within SMEs as well
      as medium to large
      organizations which
      produce a range of food
      and drink products.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
