<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Foundation Certificate in ICT</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 2</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education
      or
      MCAST Introductory Certificate
      Initial Assessment Tests (as may be applicable)</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The ICT industry is a
      dynamic sector which
      requires a number of
      technical people to
      cope with the constantly
      evolving computing
      technologies. IT persons
      offer support in these
      technologies and help
      other IT specialists in
      their daily job.
      The Foundation
      Certificate in ICT offers
      knowledge in basic skills
      as well as knowledge
      in the fundamentals
      of computer systems,
      programming skills,
      computer graphics, and
      the creating of an ICT
      project. This programme
      of studies is not intended
      to prepare the learner for
      immediate employment.
      However, it is the first in a
      string of programmes that
      will eventually prepare
      the learner to embark
      on a career within the
      computing industry.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
