<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Master of Science in Mechatronics</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>5 Semesters</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Relevant Degree. Level 5 qualification and adequate professional experience is also considered. </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The Master of Science in
      Mechatronics programme
      provides students with a
      broad range of knowledge
      and skills in the field of
      automation and control
      of production processes
      and equipment, as
      well as in the field of
      mechatronic devices
      and systems control. It
      focuses on the study of
      network technologies
      (e.g. Ethernet, Industrial
      Protocol, Profinet,
      Modbus, Profibus,
      Devicenet, Control
      Net), and development
      of SCADA system
      (Supervisory Control
      and Data Acquisition)
      construction. Practical
      use of real-time systems
      is also an important
      part of the programme.
      Students shall apply the
      theoretical principles
      of industrial robotics
      and mechatronics,
      mechatronic and
      robotic actuators, and
      modern technologies
      of microcontroller
      applications. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
