<app-prospectus-header title="Kunsil Studenti MCAST"></app-prospectus-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      The KSM (Kunsill Studenti MCAST)
      is an independent, unaffiliated body
      at the heart of the Malta College
      of Arts, Science and Technology
      campuses in Malta and Gozo, whose
      sole purpose is to represent and
      safeguard the rights of each and
      every MCAST student.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      The KSM executive is composed of
      members who are directly elected
      by the students themselves in the
      yearly council election. Student
      organisations and independent
      candidates contest this election and
      present candidates for each role
      within the executive. 
    </ion-card-content>
  </ion-card>


  <section>
    <ion-button (click)="aims()" expand="block" color="light">KSM'S Main Aims</ion-button>
  </section>
</ion-content>
