<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Science (Honours) in Horticulture</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Fish Husbandry
      or
      MCAST Diploma in Animal Care
      or
      MCAST Diploma in Horticulture
      or
      MCAST Diploma in Applied Science
      or
      4 SEC/O-Level /SSC&P (Level 3) passes</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course gives
      learners skills in the latest
      horticultural practices
      with the use of modern
      technology.
      Learners will have the
      opportunity to study and
      practise different aspects
      related to their main area
      of study, with the aim
      of seeking employment
      at management level
      in private enterprise,
      in research and
      development and/or
      regulatory services both
      locally and internationally.
      This programme offers
      the required knowledge
      and competencies
      related to Sustainable
      Land Use, Integrated
      Pest Management, Plant
      Nutrition and Fertilisation,
      Agricultural Technology,
      Rural Development
      and Garden Design/
      Landscaping.
      During this course
      students need to
      undertake a research
      project whereby a topic is
      chosen and subsequently
      investigated, researched,
      a methodology
      formulated and data
      collected, analysed and
      discussed.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
