<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in Art and Design</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes
      Compulsory: Art, or Art and Design, or Textiles and
      Design</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course gives
      learners the opportunity
      to explore two different
      areas, that of Art and
      Design. Learners
      are encouraged to
      experiment with different
      media, resistant and nonresistant materials used
      in the generic disciplines
      of Art, 3D Design
      (Product and Spatial)
      and Fashion. Learners
      learn skills using different
      workshops and related
      tools and technology,
      as well as learn the
      theoretical aspects of
      various specialist areas,
      with awareness to health
      and safety priorities.
      Another important aspect
      of the course is the
      learners’ c</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
