<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
<header>Diploma in Engineering (Electronics)</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes
      Preferred: Mathematics, Physics or Engineering Technology</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme is
      intended for learners
      who are interested to
      start a career in the field
      of electronics. It would
      enable learners to further
      their studies at higher
      levels and subsequently
      find employment in the
      field of electronics. The
      programme consists of
      twelve modules, out of
      which six are vocational
      while the other six
      address the vocational
      hands on training.
      Vocational modules
      focus on functions of
      electronic components,
      electronic circuit design,
      operation of electronic
      systems, installation
      and configuration of PC
      hardware and software,
      interpreting engineering
      information and working
      safely and effectively in
      the workplace.
      The key skills modules
      provide an opportunity for
      learners to gain adequate
      skills in Maltese, English,
      Mathematics, Information
      Technology, and Science
      and Technology</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
