<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Engineering (Honours) in Electronics Engineering</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Years Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Manufacturing
      or
      MCAST Advanced Diploma for Polymer Process
      Technicians
      or
      2 A-Level passes and
      2 I-Level passes
      Compulsory A-Levels: Physics and Mathematics
      (Pure or Applied)
      Applicants need to obtain an average Grade C or better
      across their A-Levels in Mathematics and Physics (such
      as Grades C,C; Grades B,D; Grades A,E) or a related
      MCAST Advanced Diploma (an overall mark of 60%
      or higher)or Undergraduate Diploma in foundations of
      Engineering
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This Mechanical
      Engineering degree
      programme, provides
      the learner with a solid
      understanding of relevant
      engineering fundamentals
      and prepares the learner
      for a broad range of
      career options in the
      manufacturing field.
      This field is increasingly
      becoming more and more
      high tech.
      The programme is
      structured around
      studies which will
      develop in learners, a
      firm understanding of
      principles and disciplines
      which are needed in the
      modelling, measuring,
      analysis and design of
      mechanical components
      and systems. On
      completing the course,
      graduates are expected
      to demonstrate that
      they have assimilated
      the professional
      skills necessary for
      formulating and executing
      engineering projects.
      The course also provides
      training in teamwork, and
      effective communication
      skills.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
