.title{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    text-align: center;
    border-top: 3px solid #104b9b;
    border-bottom: 3px solid #104b9b;
    border-left: 3px solid #104b9b;
    border-right: 3px solid #104b9b;
}

ion-card{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 3px solid #104b9b;
    border-bottom: 3px solid #104b9b;
    border-left: 3px solid #104b9b;
    border-right: 3px solid #104b9b;
    text-align: center;
}