<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Industrial Electronics</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Engineering (Electronics)
      or
      MCAST Diploma in Electrical Installations
      or
      MCAST Diploma in ICT
      or
      MCAST Diploma in Heating, Ventilation and Air
      Conditioning
      or
      MCAST Diploma in Building Services Installations
      (Plumbing or Plumbing and Electrical)
      or
      MCAST Diploma in Welding and Fabrication
      or
      MCAST Diploma in Automotive Repair (Body and Paint)
      or
      MCAST Diploma in Automotive Maintenance and
      Repair
      or
      MCAST Diploma in Mechanical Engineering
      or
      MCAST Diploma in Aircraft Maintenance
      or
      4 SEC/O-Level/SSC&P (Level 3) passes
      Compulsory: One subject from Mathematics or Physics
      and One subject from Engineering Technology, Design
      & Technology, Chemistry,
      Mathematics, Physics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The course is intended
      for candidates who wish
      to embark on a career as
      technicians in the field of
      electronics engineering.
      Job opportunities in this
      sector are available in
      ever growing numbers.
      This course is designed
      to give a good grounding
      in electronics where the
      learner is exposed to the
      different aspects through
      class-based delivery
      and extensive hands-on
      practical workshops and
      projects.Learners are
      introduced to the creation
      of electronic systems in
      diverse fields, such as
      industrial electronics,
      transportation,
      computer engineering,
      communications and
      biomedical engineering.
      In the first and second
      year of the course
      one will cover the core
      aspects of electronics
      engineering while in the
      final year, learners will
      be required to select
      elective modules from:
      Computer technology,
      Biomedical Technology,
      Telecommunications
      Technology, Control
      Technology, Electrical
      Power Technology,
      Domestic Installations
      and Electronic Circuit
      Manufacturing.
      Availability of particular
      electives will be subject
      to a minimum number
      of applications. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
