<app-prospectus-header title="Introductory Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Award in Basic Office Skills
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Award in Hospitality
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Award in Retail
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Introductory Certificate in <br> Business
    </ion-button>
  </section>

</ion-content>
