<app-prospectus-header title="Degree Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Higher Diploma in <br> Masonry Heritage Skills <br> (Kapumastru)
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Bachelor of Science (Honours) <br> in Building Services <br> Engineering
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Bachelor of Science (Honours) <br> in Construction Engineering
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Bachelor of Science (Honours) <br> in Construction Engineering <br> (Civil Engineering)
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Bachelor of Science (Honours) <br> in Quantity Surveying
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn6()" expand="block" color="light">Bachelor of Engineering (Honours) <br> in Electronics and Control <br> Engineering
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn7()" expand="block" color="light">Bachelor of Engineering (Honours) <br> in Electronics Engineering
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn8()" expand="block" color="light">Bachelor of Science (Honours) <br> in Biomedical Engineering
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn9()" expand="block" color="light">Bachelor of Engineering (Honours) <br> in Mechanical Engineering <br> (Manufacturing)
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn10()" expand="block" color="light">Bachelor of Engineering (Honours) <br> in Mechanical Engineering <br> (Plant)
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn11()" expand="block" color="light">Bachelor of Science (Honours) <br> in Marine Engineering
    </ion-button>
  </section>

</ion-content>