<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Building Services Engineering</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Heating, Ventilation and
      Air-Conditioning
      or
      MCAST Diploma in Construction Engineering
      or
      MCAST Diploma in Joinery and Furniture Making
      or
      MCAST Diploma in Trowel Trades
      (Plastering and Tile Laying or Painting and Decorating)
      or
      MCAST Diploma in Masonry Heritage Skills (Sewwej)
      or
      MCAST Diploma in Welding and Fabrication
      or
      MCAST Diploma in Building Services Installations
      (Plumbing or Plumbing and Electrical)
      or
      4 SEC/O-Level/SSC&P (Level 3) passes
      Compulsory:
      One subject from Mathematics or Physics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course is based
      on both College-based
      training and work-based
      learning. It gives an
      in-depth knowledge
      and experience of the
      general requirements and
      specialist areas related to
      the field of building and
      construction. At the end
      of the first year, learners
      can choose one of four
      streams that include
      Construction Design,
      Quantity Surveying,
      Land Surveying and Civil
      & Road Engineering.
      Learners will be able
      to carry out duties at
      a professional and
      technical level in areas
      such as building,
      construction, civil and
      roads engineering. They
      will be able to carry out
      tasks related to Design,
      Quantity Surveying,
      Land Surveying,
      Geospatial Engineering,
      Geographical Information,
      Roads and Project
      Management. This course
      includes work-related
      training and practice.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
