<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Arts (Honours) in Fashion</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Fashion and Retail
      MCAST Advanced Diploma in Art and Design with a
      textiles major project
      City and Guilds Advanced Certificate in Tailoring or
      2 A-Level passes and 2 I-Level passes Compulsory
      A-Level: Art, or Graphical
      Communication, or Engineering Drawing, or Physics
      Applicants may be asked to sit for an interview and/or
      present their Portfolio.
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This degree aims to
      respond to the demand
      for fashion professionals
      within the fashion
      industry, including
      fashion/costume design
      and production, retail and
      marketing. Supported
      with contextual studies to
      understand how fashion
      designers inspire their
      creativity from epic eras
      of fashion. The course
      provides learners with the
      specialist skills to create
      patterns using traditional
      techniques as well as
      modern software to
      develop CAD/CAM within
      the fashion production
      process on small and
      mass production scales.
      Moreover, the course
      offers specialist units
      addressing the retail and
      marketing content to
      equip learners with the
      necessary skills for the
      industry needs.
      The course is targeted
      towards both individuals
      who wish to set up their
      own firm with the required
      entrepreneurial skills,
      and those who wish
      to progress in the vast
      fashion business</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
