<app-prospectus-header></app-prospectus-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      The Institute of Community Services equips
      learners with the required holistic skills
      in various fields for the wellbeing of our
      community. 
    </ion-card-content>

    <ion-card-content>
      In particular we offer coursesin
      Sports, Health and Social Care, Early Years,
      Beauty, Hairdressing, Inclusive Education and
      Protection, Security and Enforcement. Our
      vocational educators amalgamate theory and
      practice to provide a hands on experience to
      our learners which reflects the workplace and
      its requirements within industry. 

    </ion-card-content>

    <ion-card-content>
      Our institute
      is equipped with a number of resources to
      enable this approach to learning, such as fullyfunctional hair salons, beauty salons and Care
      rooms. Furthermore, our VET programmes
      include a work placement which offers valuable
      experience withinthe industry. Courses offered
      range from MQF level 1 to level 6.
    </ion-card-content>
  </ion-card>

  <section>
<ion-grid>
  <ion-row>
  <ion-col width-50>
    <ion-card>
      <ion-card-content>
        MCAST has helped me gain
        the necessary qualifications
        and experience that led me to
        improve my leadership skills. 
      </ion-card-content>
      <ion-card-subtitle>Raisa Scicluna</ion-card-subtitle>
    </ion-card>
  </ion-col>

  <ion-col width-50>
    <ion-card>
      <ion-card-content>
        My ambition is to join a
        foreign team and to coach
        athletes on an international
        level. 
      </ion-card-content>
      <ion-card-subtitle>Karl Sciortino</ion-card-subtitle>
    </ion-card>
  </ion-col>
</ion-row>
</ion-grid>
  </section>
</ion-content>
