<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Higher Diploma for Accounting Technicians </header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 5</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Accounting</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course builds upon
      the MCAST Advanced
      Diploma in Accounting
      and offers learners the
      possibility to become
      members of the
      Association of Accounting
      Technicians (UK). During
      this programme, the
      learners will continue to
      broaden and deepen their
      studies in the different
      areas of accounting
      including Financial and
      Management Accounting
      as well as Management
      and Business Law.
      Learners who
      successfully complete
      the AAT (UK) Advanced
      Diploma in Accounting
      as well as the AAT (UK)
      Professional Diploma in
      Accounting, are entitled
      for exemptions from
      the ACCA qualification
      (F1, F2, F3) Through
      successful completion
      of related study-units,
      leaners will also be
      eligible to register for
      further exemptions
      namely, F4 and F5.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
