<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma for Polymer Process Technicians</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Mechanical Engineering
      or
      MCAST Diploma in Engineering (Electronics)
      or
      MCAST Diploma in Aircraft Maintenance
      or
      4 SEC/O-Level/SSC&P
      (Level 3) passes
      Compulsory: One subject from Mathematics or Physics
      and One subject from Engineering Technology, Design
      & Technology, Chemistry, Mathematics, Physics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This Advanced Diploma
      programme is designed
      to prepare technicians
      for a career in the field
      of the transformation of
      rubbers and plastics,
      with their different types
      and compositions, into
      finished specialised
      products. It provides
      a good level of
      knowledge in the fields
      of polymer sciences
      and manufacturing
      technologies. The
      scientific background
      of the technologies and
      processes involved,
      including material
      properties, process
      control and the effect
      of variables such as
      temperature, pressure,
      and cycle time, are
      also studied. Training
      is achieved through a
      combination of theory
      and practical sessions
      of this latest technology
      in our lecture rooms and
      workshops, as well as
      at local industry leaders
      of this ever-growing
      sector of manufacturing.
      Applicants have to be
      able to work within the
      industries concerned.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
