<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Applied Science</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Applied Science
      or
      4 SEC/O-Level/SSC&P (Level 3) from English
      Language, Mathematics, Physics, Chemistry, Biology,
      Design and Technology, Health and Social Care</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course of studies
      is aimed at learners
      who wish to embark
      on a scientific career
      in a range of industries
      such as petrochemical,
      life sciences, health,
      pharmaceutics, and
      environment. The
      programme of studies
      contains a wide range of
      science and technology
      study-units that reflect
      aspects of employment
      within relevant industries.
      The learner will
      appreciate how the
      fundamental principles
      of science relate to the
      technological operations
      of the workplace.
      They will develop the
      necessary skills to work in
      a laboratory environment
      within the manufacturing
      industry, and to apply
      basic principles within the
      workplace. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
