<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in Construction Engineering</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes
      Compulsory: Mathematics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The course consists of
      college-based training
      on various skills related
      to the building and
      construction industry.
      It enables them to
      work in the sector or to
      continue their studies in
      related vocational areas,
      including Construction,
      Civil Engineering or
      Building Services.
      During this course of
      studies learners will be
      introduced to different
      types of technical
      drawings used in the
      construction industry.
      They learn how to
      apply construction
      drawing standards and
      conventions to produce
      sketches and professional
      working drawings.
      This course also
      provides learners with
      the opportunity to further
      develop their knowledge
      of key skills subjects such
      as Mathematics, Science,
      English, Maltese,
      Information Technology
      and Individual and Social
      Responsibility.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
