<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Science (Honours) in Multimedia Software Development</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in IT (recommended
      stream: “Multimedia Software Development”)
      or
      MCAST Advanced Diploma in Electronics
      (Computer Engineering)
      or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-Level: Computing
      Compulsory A-Level or I-Level: one subject from Pure
      Mathematics, Applied Mathematics and Physics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This degree programme,
      is intended for those
      learners who are keen
      on developing interactive
      and media rich software
      applications such as
      games and mobile
      applications. In this
      course one will learn
      how to develop software
      applications, create the
      required multimedia
      content and integrate
      this content with the
      created application.
      This course covers 2D
      and 3D Graphic Design,
      Computer Animation,
      Sound Design, Visual
      Effects, Object-Oriented
      Programming, Mobile
      Application Development
      and other similar
      modules. This course is
      intended for individuals
      who have an artistic
      inclination and are also
      good in programming</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
