<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Master of Business Administration for the Small Business (MBA)</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>6 Semesters – Part time </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Relevant Degree. Level 5 qualification and adequate professional experience is also considered. </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The MCAST MBA for
      the Small Business
      programme, focuses on
      the small businesses’
      theoretical knowledge,
      application-oriented
      experiences as well
      as the identification of
      innovation possibilities
      and growth potentials.
      This MBA is structured
      to reflect the needs
      of modern business
      dynamics. The MCAST
      MBA is taught by industry
      experts and leading
      academics who have
      had successful careers in
      their respective business
      settings.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
