<app-prospectus-header></app-prospectus-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Formerly known as the Institute of Art and
      Design, this institute was established in 2001,
      merging the expertise of the Art and Design
      Centre and Salvatore Dimech School for
      Craftsmen. 
    </ion-card-content>

    <ion-card-content>
      In 2014, the name was changed
      to Institute for the Creative Arts to reflect its
      growing portfolio of courses offered, ranging
      from art and design to graphic design and
      interactive media, creative media production,
      photography and journalism, and recently,
      fashion design and performing arts as well as
      cultural heritage skills.
    </ion-card-content>

    <ion-card-content>
      The Institute works closely with the industry
      to provide students with realistic assignment
      briefs and experiences. The creative arts play a
      crucial role in communicating visions and ideas
      which words alone cannot fully express. They
      may also be perceived as means to educate, to
      provide a cultural identity and act as agents of
      change.
    </ion-card-content>
  </ion-card>

  <section>
<ion-grid>
  <ion-row>
  <ion-col width-50>
    <ion-card>
      <ion-card-content>
        Having my portfolio in people’s
        fridges gives me great pride!
      </ion-card-content>
      <ion-card-subtitle>Leander Schembr</ion-card-subtitle>
    </ion-card>
  </ion-col>

  <ion-col width-50>
    <ion-card>
      <ion-card-content>
        ...have laid the foundation to
        my successful career. 
      </ion-card-content>
      <ion-card-subtitle>Johann Caruana</ion-card-subtitle>
    </ion-card>
  </ion-col>
</ion-row>
</ion-grid>
  </section>
</ion-content>
