<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in Business</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes
      Preferred: Business Studies</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course is aimed
      at preparing learners
      to further their studies
      in different areas
      of business. It is a
      preparatory course for
      those to further their
      studies at MCAST on to
      MQF level 4. The course
      aims to allow learners
      to improve in areas
      of written and spoken
      English and Maltese as
      well as their Mathematical
      and IT skills. The course
      however also goes into
      more detail, while starting
      from the very basics,
      of different business
      areas and functions such
      as Accounts, Human
      Resources, Marketing,
      Purchasing, and others.
      This generic background
      allows the students to get
      their academic level up
      to scratch, while having
      enough knowledge
      about the different
      business areas to be
      able to choose a more
      specialised course of
      studies at level 4.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
