<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Health & Social Care</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Health and Social Care
      or
      MCAST Diploma in Applied Science
      or
      MCAST Diploma in Sport
      or
      MCAST Diploma in Foundation Studies for Security,
      Enforcement and Protection
      or
      4 SEC/O-Level /SSC&P (Level 3) passes
      Preferred: Health & Social Care, , English Language,
      Maltese, Ethics, Social Studies, Home Economics,
      Biology</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This is a two-year
      full-time programme
      during which the
      learner becomes
      better acquainted
      with the specialised
      services offered by
      different agencies
      and organisations in
      the care sector. This
      programme of studies
      is ideal for those
      prospective candidates
      who derive a lot of
      personal satisfaction from
      helping others. Lectures
      deal with sociological
      and psychological
      perspectives, legislation,
      communication skills and
      human biology.
      Lecturers present
      scenarios which are
      dynamic and
      thought-provoking, and
      learners are prepared
      to work in challenging
      environments dealing
      with vulnerable
      individuals. A work-based
      learning component is
      included in the framework
      of this programme. 
      </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
