<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Foundation Certificate in Sports</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 2</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Applied Science
      or
      4 SEC/O-Level/SSC&P (Level 3) from English Language, Mathematics, Physics, Chemistry, Biology,
      Design and Technology, Health and Social Care</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme of
      studies serves as a
      stepping stone to a future
      working career in the
      sport sector. The learner
      experiences the practical
      and basic theoretical
      components of a number
      of sports- and fitnessrelated subjects. The
      vocational study-units
      cover the basics of health
      and active lifestyles,
      community sports, fitness
      training methods and
      introduction to gym-based
      exercise. Concurrently,
      learners strengthen their
      knowledge of the key
      skills in English, Maltese,
      Mathematics, Science,
      Information Technology,
      and Individual and Social
      Responsibility.
      Throughout the academic
      year, MCAST and the
      Institute of Community
      Services organise a
      number of sport-related
      extra-curricular activities
      during which the
      learners will be invited
      to participate in order to
      enrich their experience on
      campus. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
