<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in Aircraft Structures and Repairs</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes from
      Mathematics, Physics and Graphical Communication/
      Technical Drawing / Design and Technology,
      Engineering Technology, English Language, Chemistry</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This MCAST Diploma
      is intended to train the
      learner for competences
      in Aircraft Structures
      and Repairs which are
      essential for structure
      repair mechanics. This
      training course will
      include Basic Aircraft
      Sheet Metal, Structures
      Repair Procedures and
      Human Factors, amongst
      other modules.
      The course is on a
      full-time basis and will
      take 12 months to be
      completed.
      It is divided into three
      main areas: namely the
      theoretical element, the
      practical experience and
      on-the-job exposure.
      This is an opportunity for
      individuals to commence
      or develop their career in
      the aviation industry.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
