<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Master of Arts in Product Design</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>5 Semesters</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Relevant Degree. Level 5 qualification and adequate professional experience is also considered. </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The Master of Arts
      in Product Design
      programme develops the
      artistic and humanistic
      skills belonging to design
      culture together with the
      technical know-how that
      relates to production
      technology, materials,
      and manufacturing costs.
      It strives to meet the
      need of operating in a
      worldwide landscape of
      heightened competition
      where the designer can
      increase the value of a
      consumer product by
      creating innovation – in
      both aesthetics and
      usability – that takes
      advantage of available
      technologies and
      ever-changing consumer
      lifestyles. Candidates
      will build an improved
      critical capability to
      explore contemporary
      design languages, focus
      on experimentation
      with innovative interdisciplinary technologies
      and materials, from
      preliminary concept
      to finish, and focus
      on understanding and
      developing sustainable
      production and
      consumption processes.  </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
