<app-prospectus-header title="Diploma Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Diploma in Art <br> and Design
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Diploma in <br> Performing Arts
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Diploma in Media
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Diploma in Printing
    </ion-button>
  </section>

</ion-content>
