<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Animal Management and Veterinary Nursing</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Fish Husbandry
      or
      MCAST Diploma in Animal Care
      or
      MCAST Diploma in Horticulture
      or
      MCAST Diploma in Applied Science
      or
      4 SEC/O-Level /SSC&P (Level 3) passes</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course of studies
      provides learners with
      a broad knowledge of
      the animal management
      and animal care industry,
      including veterinary
      nursing and assistance
      as well as studies in
      veterinary diagnostic
      techniques and livestock
      management.
      The programme of
      studies offers a wide
      perspective on the latest
      practices in the animal
      management/animal
      care sector as well as
      its interconnectivity with
      entrepreneurship and the
      related business sector.
      Learners will be
      encouraged to relate
      theory to practice at
      all stages through
      assignments, projects,
      practical work and work
      placements. Scheduled
      practical livestock
      husbandry duties form
      an integral part of the
      curriculum.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
