<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>  
    </ion-buttons>

    <ion-title text-center>Institutes</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="home-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <section>
        <ion-button expand="block" color="success">Applied Science
        <ion-icon name="fitness"size="large"></ion-icon>
        </ion-button>
      </section>

      <section>
        <ion-button expand="block" color="danger">Business Managment <br> & Commerce <br>
          <ion-icon name="briefcase"size="large"></ion-icon>
        </ion-button>
      </section>
      
      <section>
        <ion-button expand="block" color="warning">Community Services
          <ion-icon name="people"size="large"></ion-icon>
        </ion-button>
      </section>

      <section>
        <ion-button expand="block" color="tertiary">Creative Arts
          <ion-icon name="brush"size="large"></ion-icon>
        </ion-button>
      </section>

      <section>
        <ion-button expand="block" color="primary">Engineering and Transport
          <ion-icon name="hammer"size="large"></ion-icon>
        </ion-button>
      </section>

      <section>
        <ion-button expand="block" color="warning">Information & Communication <br> Technology <br>
          <ion-icon name="desktop"size="large"></ion-icon>
        </ion-button>
      </section>

</ion-content>
