<app-prospectus-header title="Institutes"></app-prospectus-header>

<ion-content>
      <section>
        <ion-button expand="block" color="success">Institute of the Applied Science
        </ion-button>
      </section>

      <section>
        <ion-button expand="block" color="danger">Institute of Business <br> Managment & Commerce <br>
        </ion-button>
      </section>
      
      <section>
        <ion-button expand="block" color="warning">Institute of Community Services
        </ion-button>
      </section>

      <section>
        <ion-button expand="block" color="tertiary">Institute for the Creative Arts
        </ion-button>
      </section>

      <section>
        <ion-button expand="block" color="primary">Institute of Engineering <br> and Transport <br>
        </ion-button>
      </section>

      <section>
        <ion-button expand="block" color="warning">Institute of Information <br> & Communication Technology <br>
        </ion-button>
      </section>

      <section>
        <ion-button expand="block" color="light">Gozo Campus
        </ion-button>
      </section>

      <section>
        <ion-button expand="block" color="light">Generic Degree
        </ion-button>
      </section>

      <section>
        <ion-button expand="block" color="light">Masters
        </ion-button>
      </section>

      <section>
        <ion-button expand="block" color="light">CPD
        </ion-button>
      </section>


</ion-content>
