<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
<header>Diploma in Trowel Trades (Plastering and Tile Laying or Painting and Decorating)</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This apprenticeship
      course combines
      theoretical knowledge
      with practical training,
      both in College-based
      industrial workshops
      and in industry-based
      apprenticeships.
      Learners will be expected
      to participate individually
      and in teams to fabricate
      welded products.
      Learners will have the
      opportunity to use hand
      and power tools as well
      as welding sets, giving
      particular attention
      to health and safety
      considerations. This
      course also provides
      learners with the
      opportunity to further
      develop their knowledge
      of key skills subjects such
      as Mathematics, Science,
      English, Maltese,
      Information Technology
      and Individual and Social
      Responsibility.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
