<app-prospectus-header></app-prospectus-header>

<ion-content>
  <header text-center>Institute of Community Service</header>

  <ion-grid>
  <ion-row>

  <ion-col col-6>
  <ion-button (click)="courses()" color="warning">
  <div>
  <ion-icon name="school-outline"></ion-icon> <br>
  <label>Courses</label>
  </div>
  </ion-button>
  </ion-col>

  <ion-col col-6>
  <ion-button (click)="info()" color="warning">
  <div>
  <ion-icon name="paper-plane-outline"></ion-icon> <br>
  <label>Institute</label>
  </div>
  </ion-button>
  </ion-col>

  </ion-row>
  </ion-grid>

<ion-card>
  <ion-card-content>
  The Institute of Community Services equips
  learners with the required holistic skills
  in various fields for the wellbeing of our
  community. In particular we offer coursesin
  Sports, Health and Social Care, Early Years,
  Beauty, Hairdressing, Inclusive Education and
  Protection, Security and Enforcement. Our
  vocational educators amalgamate theory and
  practice to provide a hands on experience to
  our learners which reflects the workplace and
  its requirements within industry. 
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    Our institute
    is equipped with a number of resources to
    enable this approach to learning, such as fullyfunctional hair salons, beauty salons and Care
    rooms. Furthermore, our VET programmes
    include a work placement which offers valuable
    experience withinthe industry. Courses offered
    range from MQF level 1 to level 6
  </ion-card-content>
</ion-card>
  
</ion-content>
