<app-prospectus-header title="Degree Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Bachelor of Science (Honours) <br> in Chemical Technology
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Bachelor of Science (Honours) <br> in Environmental Engineering
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Bachelor of Science (Honours) <br> in Health Sciences <br> (Physiological Measurements)
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Bachelor of Science (Honours) <br> in Environmental Health 
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Bachelor of Science (Honours) <br> in Animal Management and <br> Veterinary Nursing
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn6()" expand="block" color="light">Bachelor of Science (Honours) <br> in Horticulture
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn7()" expand="block" color="light">Bachelor of Science (Honours) <br> in Fish Management 
    </ion-button>
  </section>

</ion-content>