<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>  
    </ion-buttons>

    <ion-title text-center>Courses</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="home-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ion-button expand="block" color="light">Introductory Certificate
    </ion-button>
  </section>

  <section>
    <ion-button expand="block" color="light">Foundation Certificate
    </ion-button>
  </section>
  
  <section>
    <ion-button expand="block" color="light">Diploma
    </ion-button>
  </section>

  <section>
    <ion-button expand="block" color="light">Advanced Diploma
    </ion-button>
  </section>

  <section>
    <ion-button expand="block" color="light">Bachelor of Science (Honours)
    </ion-button>
  </section>

</ion-content>
