<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Marine Engineering</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Years Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Mechanical Engineering
      or
      MCAST Diploma in Engineering (Electronics)
      or
      MCAST Diploma in Aircraft Maintenance
      or
      4 SEC/O-Level/SSC&P (Level 3) passes
      Compulsory: one subject from Mathematics or Physics
      and One subject from Engineering Technology, Design
      & Technology, Chemistry, Mathematics, Physics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme is the
      first step for those who
      wish to embark in a
      career in the maritime
      sector, with opportunities
      being available both
      locally and internationally.
      The course introduces
      the basics of engineering
      related to marine vessels
      and is ideal for those who
      wish to be introduced into
      this sector and obtain
      a formal vocational
      qualification. After
      successful completion of
      the course, the learner
      will have formed sound
      theoretical and practical
      competences. This
      course includes workrelated training and
      practice.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
