<ion-header>
  <ion-toolbar>
    <ion-title>ics-d-h-sc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in Sports</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes
      Preferred: English, Biology, Physical Education</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme of
      studies covers the
      basics of Anatomy and
      Physiology in Sport,
      Fitness Testing, Fitness
      Instruction, Fundamental
      Methodology of Physical
      Activity and Sport, as well
      as the theory and practice
      of the mainstream sports.
      The syllabus incorporates
      a work-based learning
      component thus
      facilitating the transition
      into employment. By the
      end of the course, the
      learner would be able to
      assist a Fitness Instructor
      in the preparation and
      delivery of basic fitness
      training programmes.
      The learner will be
      encouraged to take part
      in various sports-related
      events that are organised
      on campus from time
      to time. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
