<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Introductory Certificate in ICT</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 1</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The ICT industry is a
      dynamic sector which
      requires a number of
      technical people to
      cope with the constantly
      evolving computing
      technologies. IT persons
      offer support in these
      technologies and help
      other IT specialists in
      their daily job.
      The Introductory
      Certificate in ICT offers
      knowledge in basic skills
      as well as knowledge
      in the fundamentals of
      computer systems and
      programming skills.
      The programme offers
      learners the necessary
      knowledge about the
      basic components that
      make up a computer
      system by being able to
      distinguish the different
      parts of a computer
      system, as well as learn
      about the software design
      phases and how to install
      hardware. Skills will
      be developed in how to
      design simple algorithms
      and simple computer
      programs</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
