<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Arts (Honours) in Business Enterprise </header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Marketing
      or
      MCAST Advanced Diploma in Administrative and
      Secretarial Studies
      or
      MCAST Certificate for Medical Secretaries
      or
      MCAST Advanced Diploma in Aviation Operations
      or
      MCAST Advanced Diploma in Financial Services
      or
      MCAST Advanced Diploma in Insurance
      or
      MCAST Advanced Diploma in Business Administration
      or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-Level: Accounts or Marketing or
      Economics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This degree provides
      specialist content which
      is constantly applied to
      real life business and
      management scenarios.
      Learners will be prepared
      to become proficient in
      a number of areas as
      the course allows the
      students to develop
      appropriate analytical,
      critical and research
      skills in a range of
      business related areas
      ranging from Human
      Resources to Operations
      Management, and
      Purchasing, to Project
      Managing and Marketing
      Management. These are
      only some of the areas
      that students will cover
      during their studies. This
      360 degree approach
      gives the learners
      maximum flexibility on the
      work place as graduates
      would be able to deal
      with a wide range of
      responsibilities.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
