<app-prospectus-header title="Advanced Diploma Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Extended Diploma in <br> Foundation Studies for Security, <br> Enforcement and Protection
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Advanced Diploma in <br> Beauty and Complementary <br> Therapies
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Advanced Diploma in <br> Children’s Care, Learning and <br> Development
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Advanced Diploma in <br> Health and Social Care
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Advanced Diploma in <br> Sport (Development, Coaching <br> and Fitness)
    </ion-button>
  </section>

</ion-content>