<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Horticulture</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Fish Husbandry
      or
      MCAST Diploma in Animal Care
      or
      MCAST Diploma in Horticulture
      or
      MCAST Diploma in Applied Science
      or
      4 SEC/O-Level /SSC&P (Level 3) passes </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme of
      studies provides learners
      with an understanding
      of the horticultural
      industry including crop
      management of a wide
      range of crops, an
      introduction to garden
      design, floristry, pest and
      nutrient management,
      and studies in rural
      development and
      agricultural policies.
      The programme of
      studies offers a wide
      perspective on the latest
      technologies used in the
      agricultural sector as well
      as its interconnectivity
      with entrepreneurship
      and business and the
      hospitality sector in
      relation to garden design
      and agri- and ecotourism.
      Learners will be
      encouraged to relate
      theory to practice at
      all stages of learning
      through assignments,
      projects, practical work
      and the apprenticeship
      scheme. Scheduled
      practical crop husbandry
      duties form an integral
      part of the curriculum. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
