<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in Health and Social Care</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes
      Preferred: English Language, Biology, Physics, Chemistry, Maltese, Social Studies, Nutrition, Food Consumer
      Studies (Home Economics)</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>Prospective candidates
      who enrol in this full-time
      course should have an
      interest in working with
      elderly persons and
      persons with disabilities.
      Lectures include a
      number of varied topics
      such as nutrition,
      equality, diversity,
      dignity and rights of
      individuals. Moreover,
      this programme of
      studies provides a route
      for education within a
      number of specialised
      areas such as the Social
      Care sector, Early
      Years Education, and
      Health Sciences. The
      programme incorporates
      mandatory placements
      in different host
      organisations which form
      part of the sector. Here
      they will be expected
      to carry out a range of
      assigned tasks under
      supervision.
      In the case of learners
      who do not wish to further
      their studies, this oneyear programme provides
      a suitable exit point to
      seek employment as a
      care worker. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
