<app-prospectus-header title="Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="ic()" expand="block" color="light">Introductory Certificate
    </ion-button>
  </section>

  <section>
    <ion-button (click)="fc()" expand="block" color="light">Foundation Certificate
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="d()" expand="block" color="light">Diploma
    </ion-button>
  </section>

  <section>
    <ion-button (click)="ad()" expand="block" color="light">Advanced Diploma
    </ion-button>
  </section>

  <section>
    <ion-button (click)="bsh()" expand="block" color="light">Bachelor of Science (Honours)
    </ion-button>
  </section>

</ion-content>

