<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
<header>Diploma in Automotive Repair (Body and Paint)</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes
      Preferred: Mathematics </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>Learners will learn
      how to work on vehicle
      accident repair tasks
      on body work under
      minimal supervision.
      The course will also
      provide the learners
      with the skills required
      to carry out paint repairs
      to the manufacturers’
      specifications. They will
      thus gain a combination
      of theoretical knowledge
      and practical skills in
      automotive accident
      repair (panel beating)
      together with body paint
      principles. Learners will
      be expected to carry out
      effective housekeeping
      practices to work
      effectively within the
      automotive industry.
      They will also learn how
      to work safely when
      carrying out removal and
      replacement of exterior
      vehicle panels and paint
      jobs. Learners will also be
      expected to improve their
      knowledge of key skills
      subjects.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
