<app-prospectus-header title="Advanced Diploma Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Advanced Diploma in <br> Art and Design
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Advanced Diploma in <br> Creative Media Production
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Advanced Diploma in <br> Cultural Heritage Skills
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Advanced Diploma in <br> Fashion and Retail
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Advanced Diploma in <br> Graphic Design and <br> Interactive Media
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn6()" expand="block" color="light">Advanced Diploma in <br> Performing Arts
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn7()" expand="block" color="light">Advanced Diploma in <br> Photography
    </ion-button>
  </section>

</ion-content>