<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Operations and Maintenance</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Automotive Maintenance and
      Repair
      or
      MCAST Diploma in Mechanical Engineering
      or
      MCAST Diploma in Aircraft Maintenance
      or
      4 SEC/O-Level/SSC&P (Level 3) passes
      Compulsory: One subject from Mathematics or Physics
      and one subject from Engineering Technology, Design
      & Technology, Chemistry, Mathematics, Physics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>If a learner wishes to
      start a fulfilling career
      as a technician in the
      area of operations
      and maintenance
      engineering, then this
      programme provides the
      necessary knowledge,
      understanding and
      skills for the future.
      The learner will have
      the opportunity to learn
      basic scientific and
      mathematical methods to
      apply in subjects such as
      thermodynamics and heat
      engines.
      The learner will be
      exposed to the different
      materials used in
      common engineering
      situations and their
      properties. This
      qualification not only
      provides access to more
      specialist units but it also
      broadens and deepens
      the learners’ experience
      in preparation for the
      real world at work. This
      course includes workrelated training and
      practice.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
