<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>  
    </ion-buttons>

    <ion-title text-center>Corporate Services</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="home-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>Apprenticeship and Work Based Learning Department</ion-card-title>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In veritatis dolore asperiores molestiae deserunt aperiam debitis, beatae molestias ipsam officia, distinctio, sed impedit quod provident consectetur alias consequuntur doloribus cum!
    </ion-card-content>
    <ion-card-subtitle>Email: apprenticeship@mcast.edu.mt</ion-card-subtitle>
  </ion-card>

  <ion-card>
    <ion-card-title>Fitness Center</ion-card-title>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In veritatis dolore asperiores molestiae deserunt aperiam debitis, beatae molestias ipsam officia, distinctio, sed impedit quod provident consectetur alias consequuntur doloribus cum!
    </ion-card-content>
    <ion-card-subtitle>Telephone: 23987466</ion-card-subtitle>
  </ion-card>

  <ion-card>
    <ion-card-title>MCAST Library</ion-card-title>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In veritatis dolore asperiores molestiae deserunt aperiam debitis, beatae molestias ipsam officia, distinctio, sed impedit quod provident consectetur alias consequuntur doloribus cum!
    </ion-card-content>
    <ion-card-subtitle>Telephone: 23987464</ion-card-subtitle>
  </ion-card>
</ion-content>
