<app-prospectus-header title="Corporate Services"></app-prospectus-header>

<ion-content>
  <ion-card>
    <ion-card-title>Apprenticeship and Work Based Learning Department</ion-card-title>
    <ion-card-content>
      Work-based learning is the heart
      of professional and vocational
      education and training. MCAST
      strives to achieve its strategic
      mission to work closely with
      industry and stakeholders for
      the benefit of students through
      apprenticeships, internships,
      traineeships and placements.
    </ion-card-content>
    <ion-card-subtitle>Email: apprenticeship@mcast.edu.mt</ion-card-subtitle>
  </ion-card>

  <ion-card>
    <ion-card-title>Fitness Center</ion-card-title>
    <ion-card-content>
      At MCAST, we believe in promoting
      a healthy lifestyle. We encourage
      students to join the MCAST Fitness
      Centre on campus and make use of
      the cardio machines and weights.
      The fitness instructor can devise a
      fitness programme to help achieve
      personal fitness goals. Opening
      hours are from 8.00 to 16.00.
    </ion-card-content>
    <ion-card-subtitle>Telephone: 23987466</ion-card-subtitle>
  </ion-card>

  <ion-card>
    <ion-card-title>MCAST Library</ion-card-title>
    <ion-card-content>
      Provides quality resources both
      physical and online in order
      to support teaching, learning
      and research strategies of the
      MCAST community. Ensures
      that various information services
      and systems are in place to meet
      the requirements of individuals
      as well as group members. Our
      team of friendly and professional
      staff is always ready to assist you
      throughout.
    </ion-card-content>
    <ion-card-subtitle>Telephone: 23987464</ion-card-subtitle>
  </ion-card>
  
  <ion-card>
    <ion-card-title>MCAST Salesian Chaplaincy Team</ion-card-title>
    <ion-card-content>
      A Salesian presence among staff
      and students that with God’s help
      supports MCAST to become a
      place where young people are not
      just taught but are also listened to,
      prepared for life and valued. 
    </ion-card-content>
    <ion-card-subtitle>Telephone: 99892278</ion-card-subtitle>
  </ion-card>

  <ion-card>
    <ion-card-title>International Office</ion-card-title>
    <ion-card-content>
      Students from Level 4 upwards
      can apply for and participate in
      Erasmus+ mobilities to train or
      study across Europe gaining
      valuable experience and learning
      about different European countries
      and cultures
    </ion-card-content>
    <ion-card-subtitle>Telephone: 23987408</ion-card-subtitle>
  </ion-card>

  <ion-card>
    <ion-card-title>Entrepreneurship Centre</ion-card-title>
    <ion-card-content>
      Hosted at the KBIC, the MCAST
      Entrepreneurship Centre strives
      to provide MCAST students and
      alumni with the necessary skills and
      support structure to transform their
      creative and innovative ideas into
      profitable and sustainable business
      ventures.
    </ion-card-content>
    <ion-card-subtitle>Email: entrepreneurship@mcast.edu.mt</ion-card-subtitle>
  </ion-card>

  <ion-card>
    <ion-card-title>Career Guidance</ion-card-title>
    <ion-card-content>
      Not decided yet on your career?
      You do not know how to realise
      your dream? Let us help to
      empower you to make your own
      choices and to select the right way
      that leads you here.
    </ion-card-content>
    <ion-card-subtitle>Telephone: 23987135/6</ion-card-subtitle>
  </ion-card>
  
</ion-content>
