<app-prospectus-header title="KSM's Main Aims"></app-prospectus-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In veritatis dolore asperiores molestiae deserunt aperiam debitis, beatae molestias ipsam officia, distinctio, sed impedit quod provident consectetur alias consequuntur doloribus cum!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In veritatis dolore asperiores molestiae deserunt aperiam debitis, beatae molestias ipsam officia, distinctio, sed impedit quod provident consectetur alias consequuntur doloribus cum!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In veritatis dolore asperiores molestiae deserunt aperiam debitis, beatae molestias ipsam officia, distinctio, sed impedit quod provident consectetur alias consequuntur doloribus cum!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In veritatis dolore asperiores molestiae deserunt aperiam debitis, beatae molestias ipsam officia, distinctio, sed impedit quod provident consectetur alias consequuntur doloribus cum!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In veritatis dolore asperiores molestiae deserunt aperiam debitis, beatae molestias ipsam officia, distinctio, sed impedit quod provident consectetur alias consequuntur doloribus cum!
    </ion-card-content>
  </ion-card>
</ion-content>
