<app-prospectus-header title="KSM's Main Aims"></app-prospectus-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Address students’
      complaints and concerns and
      forward these to the MCAST
      administration
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      Improve the communicative
      relationship between the
      student body, management and
      administration
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      Organise activities, campaigns,
      events and initiatives with the aim
      of involving the student body to the
      maximum
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      Improve the overall college
      environment hand in hand with the
      administration
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      Keep the student body updated
      with regards to the general affairs
      going on at each and every satellite
      institute
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      Provide information and consultation
      services to the student body
      and provide said body with the
      opportunity to offer feedback and
      suggestions
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      Provide opportunities to the student
      body by means of discussions,
      debates and information sessions
      which serve as a direct benefit to the
      student life at t MCAST institutes.
    </ion-card-content>
  </ion-card>
</ion-content>
