<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Science (Honours) in Fish Management</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Animal Management and
      Veterinary Nursing
      or
      MCAST Advanced Diploma in Fish Management
      or
      MCAST Advanced Diploma in Horticulture
      or
      2 A-Level passes and 2 I-Level passes</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course of studies
      provides learners
      with a very thorough
      understanding of
      aquaculture and fisheries
      sciences and includes
      a wide range of aspects
      that will give them a
      better understanding
      of these sectors which
      are so important to the
      economy of the Maltese
      Islands.
      The study-units
      revolve around the
      aquaculture and
      fisheries sciences and
      relate to the production
      and management of
      aquaculture facilities,
      giving a better
      understanding of the
      highly complex field of
      fisheries. This programme
      of studies is intended
      for those who want to
      delve deeper into the fish
      management sciences
      and who want to start a
      career in this sector. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
