<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Arts (Honours) in Creative Media Production</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Creative Media
      Production*
      or
      MCAST Advanced Diploma in Graphic Design and
      Interactive Media
      or
      MCAST Advanced Diploma in Photography
      or
      MCAST Advanced Diploma in Art and Design
      or
      2 A-Level passes and 2 I-Level passes
      Preferred A-Level: Art, English Language, Photography
      *Students progressing from the MCAST Advanced
      Diploma in Creative Media Production will be given
      preference in cases where the number of applicants
      exceeds the number of available places.
      Applicants may be asked to sit for an interview and/or
      present their Portfolio.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The creative media
      industry is a competitive
      and pleasantly
      adventurous one. With
      the introduction of new
      media, the Industry is
      always on the look-out
      for young talent who
      can dream and create
      unique moving image
      productions from concept
      to screen.
      This degree is intended
      to give learners the
      opportunity to work
      hands-on in creative
      environments and
      producing audiovisual content for both
      artistic and commercial
      practices. Learners will
      acquire a broad range
      of skills and techniques
      focusing mainly on TV
      studio productions, and
      will specifically progress
      to audio-visual modules
      consisting of both
      research and practical
      film-making assignments.
      Moreover, learners will
      also explore different
      aspects of the discipline
      in relation to advertising
      productions, sound and
      multi-platform storytelling.
      In their final year,
      learners will be given the
      opportunity to research
      and develop their own
      individual practice.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
