<app-prospectus-header title="Masters Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Post-Graduate Certificate <br> in Research Methods
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Masters by Research
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Master of Business <br> Administration for the <br> Small Business (MBA)
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Master of Science in <br> Lean Enterprise
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Master of Science in <br> Information Technology <br> and Systems
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Master of Science in <br> Environmental Engineering
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Master of Science in <br> High Performance Buildings
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Master of Science in <br> Integrated Water Resource <br> Management
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Master of Arts in <br> Product Design
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Master of Science in <br> Mechatronics
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Master of Science in <br> Exercise and Sports <br> Science
    </ion-button>
  </section>

</ion-content>
