<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Aviation Operations</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>4 SEC/O-Level/SSC&P (Level 3) passes
      Compulsory: English Language
      or
      Any MCAST Level 3 course</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This study-programme,
      is designed to equip
      individuals with the
      necessary understanding
      and an all-round
      introduction to the
      aviation industry for
      those who wish to
      further their career in
      one of its occupational
      areas. It may lead to
      roles in airports such as
      passenger liaison, ramp
      work, cargo operations
      and ground handling,
      aircraft operations and
      customer service.
      The course is structured
      to give learners an
      overview and preparation
      in specialized areas
      that interest career
      aspirations within
      aviation. The course
      covers the appropriate
      fundamentals for
      progression onto further
      aviation specialization
      in the sector. The
      theoretical elements
      are supplemented with
      practical elements.
      Successful learners can
      progress to the Bachelor
      of Arts (Honours) in
      Business Enterprise.
      This course includes
      work-related training and
      practice. Applicants have
      to be able to work within
      the industries concerned.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
