<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Art and Design</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Art and Design
      or
      4 SEC/O-Level /SSC&P (Level 3) passes
      Compulsory: Art or Art and Design or Textiles and Design or Design & Technology
      Applicants may be asked to sit for an interview and/or
      present a portfolio.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course presents
      learners with more
      challenging exercises
      in Art and Design
      disciplines. Learners
      will be expected to
      undertake guided and
      independent learning in
      order to develop further
      the necessary skills and
      creativity. Learners will
      be expected to develop
      a portfolio of work
      for progression or for
      potential employment.
      In the second year
      learners will focus on
      a specialist path to
      enhance their technical
      skills and in preparation
      to progress to higher
      levels of study or to find
      work as craftsperson.
      Special attention is
      given to visual and
      written communication
      in preparation to selfpromotion in the industry
      or for Higher Education.
      </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
