<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Masters By Research</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>4 Semesters – Part time </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Relevant Degree. Level 5 qualification and adequate professional experience is also considered. </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The Masters by
      Research (MRes)
      programme provides
      the student with sound
      practical knowledge and
      experience in preparation
      for a research career, as
      well as, with preparation
      and training for doctoral
      research. Students will
      have demonstrated
      originality in the
      application of knowledge,
      and they will understand
      how the boundaries of
      knowledge are advanced
      through research. They
      will be able to deal with
      complex issues both
      systematically and
      creatively, and they
      will show originality in
      tackling and solving
      applied research related
      challenges.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
