<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Heating, Ventilation and Air-Conditioning</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Building Services Installations
      (Plumbing or Plumbing and Electrical)
      or
      MCAST Diploma in Construction Engineering
      or
      MCAST Diploma in Heating, Ventilation and Air
      Conditioning
      or
      MCAST Diploma in Welding and Fabrication
      or
      MCAST Diploma in Electrical Installations
      or
      MCAST Diploma in Engineering (Electronics)
      or
      MCAST Diploma in Mechanical Engineering
      or
      4 SEC/O-Level/SSC&P (Level 3) passes
      Compulsory:
      One subject from Mathematics or Physics and
      One subject from Engineering Technology, Design &
      Technology, Chemistry, Mathematics, Physics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme of study
      gives participants the
      knowledge and skills that
      are in demand by the
      Heating, Ventilation and
      Air Conditioning (HVAC)
      industry. Learners will
      be expected to carry out
      system modifications and
      customization. The
      course is based on
      College-based training
      as well as work-based
      learning. Learners
      will gain an in-depth
      knowledge and
      experience which may
      lead them to supervisory
      roles in the HVAC sector.
      During the course
      learners are given the
      opportunity to develop
      personal skills and
      attributes essential for
      successful performance
      in related careers.
      Applicants need to be
      able to work within the
      industries concerned.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
