<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in IT (Multimedia Software Development)</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Years Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in IT
      or
      MCAST Diploma in IGaming
      or
      4 SEC/O-Level passes/SSC&P (Level 3) passes
      Compulsory: Mathematics and one subject from
      Computer Studies or Physics or Information Technology
      Preferred: English Language and one subject from Art
      or Graphical Communication</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The world wide web
      is one area that is
      fast growing in terms
      of the skills needs of
      companies. Multimedia
      is the incorporation of
      text, sound, graphics,
      animation, still images
      and video in conjunction
      with computer
      technology. This course
      will provide the learners
      with the core software
      development skills along
      with the necessary
      knowledge for multimedia
      artefact development,
      manipulation and
      integration. The first year
      of this course will be
      common for all learners
      following advanced
      diploma studies. During
      the second year,
      learners will focus on
      Multimedia and Software
      development oriented
      subjects such as game
      development and mobile
      application development.
      This is a technical course
      for learners with an
      artistic inclination.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
