<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Science (Honours) in Building Services Engineering</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Years Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Building Services
      Engineering
      or
      MCAST Advanced Diploma in Construction Engineering
      or
      MCAST Advanced Diploma in Civil Engineering
      or
      MCAST Advanced Diploma in Heating, Ventilation and
      Air-Conditioning or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-Levels: Physics and Mathematics
      (Pure or Applied)
      Preferred I-Level: Engineering Drawing & Graphical
      Communications
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course aims to
      provide learners with
      the management skills
      and technical knowledge
      associated with the
      diverse and challenging
      building services
      engineering industry.
      The programme aims
      to equip the learners
      with the necessary
      design and evaluation
      techniques to make
      professional judgements
      on technological, social
      and ethical issues
      during planning and the
      execution of building
      services projects.
      Environmental and
      technical issues are
      covered within specialist
      units designed for this
      programme. Learners
      are also expected to be
      more independent, with
      a significant amount of
      research and self-study,
      directed both within and
      outside the Institute
      environment.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
