<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in Applied Science</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes from English
      Language, Mathematics, Physics, Chemistry, Biology,
      Design and Technology, Health and Social Care</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course of studies
      provides a strong
      grounding in fundamental
      science and technology
      principles, as well as
      an initial exposure to
      vocational science
      subjects related to health,
      environment, food and
      engineering industries.
      The learner will be
      able to understand the
      fundamental principles
      and laws of science, and
      how these are applied
      within the industrial
      sector. The learner
      will also be able to
      understand the science
      of different materials, and
      gain an awareness of the
      principles behind certain
      technologies.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
