<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Extended Diploma in Foundation Studies for Security, Enforcement and Protection</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme is
      gaining a lot of popularity
      with learners who
      intend to seek future
      employment within the
      Academy for Disciplined
      Forces. Lecturers discuss
      current and contemporary
      issues relating to
      security, enforcement
      and protection both in
      Malta and beyond our
      shores. Learners also
      tackle topics relating to
      equality, diversity, dignity
      and rights of individuals.
      Educational visits will
      be organised to different
      departments which form
      part of the Academy: Civil
      Protection Department,
      Police Force, Armed
      Forces of Malta and
      Law courts.
      This Extended Diploma
      course is delivered over
      two years. However,
      learners can opt to exit
      after the successful
      completion of their first
      year of studies. In this
      case, they will be eligible
      to attain a level 3 Diploma
      in Foundation Studies for
      Security, Enforcement
      and Protection.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
