<app-prospectus-header title="Diploma Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Diploma in <br> Applied Science
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Diploma in <br> Animal Care
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Diploma in <br> Fish Husbandry
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Diploma in <br> Horticulture
    </ion-button>
  </section>

</ion-content>