<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Science (Honours) in Business Analytics</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in IT
      or
      MCAST Advanced Diploma in Business
      Administration
      or
      MCAST Advanced Diploma in Marketing
      or
      MCAST Advanced Diploma in Financial Services
      or
      MCAST Advanced Diploma in Insurance
      or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-Level: Computing or Mathematics or a
      Business related subject Preferred A or I-Level:
      Computing or Mathematics or a Business related
      subject</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This degree programme,
      is aimed at those
      individuals who wish to
      learn how to utilise data
      to address the most
      demanding challenges in
      today’s business world.
      Through the use of an
      applied methodology,
      analytical skills and
      hands-on lab sessions,
      learners will learn how
      to use analytical tools to
      derive insight on hidden
      trends and patterns
      in order to leverage
      business success.
      One will learn how to
      develop, implement and
      test bespoke solutions
      for resolving problems
      in specific scenarios.
      Additional units will
      cover aspects such as:
      improving one’s own
      critical thinking skills,
      building strategies for
      promoting businesses,
      understanding consumer
      behaviour and learning
      about laws governing a
      business process.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
