<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Introductory
    Certificate in
    Animal Husbandry
    and Horticultural
    Skills</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 1</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education
      Initial Assessment Tests (as may be applicable) </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This basic programme of
      studies equips learners
      with a range of skills,
      enabling them to begin to
      understand what various
      land-based animal and
      crop activities involve.
      The learner will have the
      opportunity to handle a
      variety of farm animals
      as well as work on crop
      fields and fruit trees.
      This course of studies
      includes topics about
      soil management,
      establishing crops, animal
      management, livestock
      nutrition and farm
      maintenance.
      Learners will have the
      opportunity to feed
      various animals such
      as rabbits and poultry,
      incubate eggs and hatch
      chicks whilst gaining
      the required handson experience in the
      horticulture and animal
      husbandry sector.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
