<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Finance and Insurance </header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Business
      or
      4 SEC/O-Level /SSC&P (Level 3) passes
      Compulsory: English Language and Mathematics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course as with all
      other level four courses
      within the Institute of
      Business Management
      and Commerce is on
      apprenticeship and
      follows a dual system
      whereby learners as from
      the 2nd semester of their
      first year of studies will be
      spending days at school
      as well as days working
      in industry. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
