<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Science (Honours) in  Environmental Engineering</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Environmental
      Sustainability
      or
      MCAST Advanced Diploma in Applied Science
      or
      2 A-Level Passes and 2 I-Level Passes
      Compulsory A-Level: Physics or Mathematics
      (Pure or Applied) or Biology or Chemistry</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The protection of
      natural resources, CO2
      emissions, climate
      change and its effects,
      and demographic
      changes, are increasingly
      important topics in the
      local and international
      context. The programme
      merges classical
      engineering with natural
      sciences. Environmental
      engineering deals with
      engineering solutions for
      environmentally relevant
      challenges of our future.
      This course provide
      learners with the ability
      to use problem-solving
      approaches for dealing
      with ecological and
      technical challenges, in
      order to creatively arrive
      at a situation of resource
      sustainability.
      The course is a
      challenging, technicallyoriented programme
      that offers learners
      a broad range of
      fields of application.
      Environmental engineers
      can be active in the
      planning, construction
      and operation of
      environmentally
      technological facilities,
      in research and
      teaching, environmental
      organisations,
      administration, and
      consultancy businesses
      of their own.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
