<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Master of Science in Lean Enterprise</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>5 Semesters</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Relevant Degree. Level 5 qualification and adequate professional experience is also considered. </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The Master of Science
      in Lean Enterprise
      includes lean problemsolving methodologies,
      demonstrates
      contemporary lean
      thinking principles, lean
      enterprise development
      and value stream
      mapping, including
      modern enterprise
      improvement techniques
      such as Six Sigma,
      theory of constraints
      and business process
      reengineering. It applies
      process analysis to
      business activities,
      methods improvement
      and work measurement
      to meet the competitive
      goals of a business
      environment. It evaluates
      the key characteristics
      of quality and the quality
      philosophy through
      established lean methods
      of quality improvement. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
