<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Post-Graduate Certificate in Research Methods</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 semesters part-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Relevant Degree. Level 5 qualification and adequate professional experience is also considered. </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The MCAST
      Post-Graduate Certificate
      in Research Methods
      is designed to give
      candidates clear insights
      into research practices,
      methodologies and the
      basic research tools and
      techniques. A knowledge
      and understanding
      of how to approach
      both quantitative and
      qualitative research
      is targeted, as well as
      an understanding of
      ethical considerations
      and the expectations for
      scholarly research.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
