<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Science (Honours) in Animal Management and Veterinary Nursing</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Animal Management
      and Veterinary Nursing
      or
      MCAST Advanced Diploma in Fish Management
      or
      MCAST Advanced Diploma in Horticulture
      or
      2 A-Level passes and 2 I-Level passes</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This Bachelor’s degree
      aims at providing learners
      with the opportunity to
      specialise in a main area
      of study with the aim of
      seeking employment
      at management
      level or similar. This
      may relate to animal
      welfare, production,
      education, veterinary
      services, research
      and development, and
      regulatory services both
      locally and internationally.
      The programme of
      studies offers the
      required knowledge, skills
      and competences related
      to animal health and
      nutrition, welfare, ecology,
      philosophy, ethics and
      law. Learners will also
      undertake a research
      project whereby they will
      be expected to select
      a topic for investigation
      following an established
      methodology.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
