<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Performing Arts</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Performing Arts
      or
      MCAST Diploma in Art and Design
      or
      MCAST Diploma in Media
      or
      any other MCAST Level 3 Diploma
      or
      4 SEC/O-Level /SSC&P (Level 3) passes
      Applicants may be asked to sit for an interview and/or
      an audition.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The performing arts
      industry is a steadily
      growing sector which
      is demanding people
      trained in the various
      areas. Through this
      programme of studies
      learners become familiar
      with fundamental
      principles and skills
      related to contemporary
      performing arts practice.
      The first year of this
      course focuses on
      elemental principles
      related to music, theatre,
      dance, management,
      production, design and
      technical aspects of
      the performing arts in
      preparation for more
      independent and focused
      study the following year
      when learners choose to
      develop particular studyareas of performance
      (acting, dance and/
      or music), design
      (costume, props and/or
      set), technical aspects
      (light and/or sound) and
      management further.
      This allows them to gear
      up for progression to
      specific undergraduate
      programmes, leading
      to the formation
      of performing arts
      professionals.      
      </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
