<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Welding and Fabrication</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Welding and Fabrication
      or
      MCAST Diploma in Construction Engineering
      or
      MCAST Diploma in Automotive Repair (Body and Paint)
      or
      MCAST Diploma in Automotive Maintenance and
      Repair
      or
      MCAST Diploma in Mechanical Engineering
      or
      MCAST Diploma in Aircraft Structures and Repairs
      or
      MCAST Diploma in Engineering (Electronics)
      or
      MCAST Diploma in Electrical Installations
      or
      4 SEC/O-Level/SSC&P (Level 3) passes Preferred:
      English, Mathematics, Engineering Technology, Technical Drawing, Graphical Communication or Design and
      Technology</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course combines
      theoretical knowledge
      and practical training
      carried out in Collegebased industrial
      workshops. Learners will
      be expected to participate
      individually and in teams
      to fabricate welded
      products. They will learn
      how to analyse and
      generate solutions related
      to typical fabrication using
      thin plates and pipes.
      Learners will also be
      given the opportunity to
      follow an apprenticeship
      to improve their handson experience. In order
      to be able to appreciate
      the importance of good
      production management,
      supervised visits to
      complex production setups are organised during
      the course. Applicants
      need to be able to work
      within the industries
      concerned.
      Applicants coming in
      through the Secondary
      Education Certificate
      route may be requested
      to complete an additional
      Level 4 preparatory year
      if they do not already
      have prior exposure and
      experience in the sector</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
