<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in  Beauty and Complementary Therapies</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>ITEC Diploma for Beauty Specialists
      or
      MCAST Diploma for Beauty Specialists</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme is made
      up of study-units intended
      to equip learners with
      the knowledge to provide
      treatments for the
      purpose of relaxation and
      stress-relief as well as
      to improve the condition
      of the skin. Learners will
      have the opportunity to
      perform practical tasks
      during hands-on sessions
      within the MCAST salons.
      There will also be work
      placement periods within
      established Salons
      and Spas.
      Study units during the
      second year of studies
      include alternative
      therapies such as
      reflexology, stone therapy
      and aromatherapy.
      At the end of the
      first academic year,
      successful learners will
      have the option to exit
      their studies, and be
      awarded the MCAST
      Award in Beauty Therapy.
      This award will enable
      them to work in
      the industry as
      beauty therapists</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
