<app-prospectus-header title="Degree Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Higher Diploma for <br> Accounting Technicians
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Bachelor of Arts (Honours) <br> in Business Enterprise
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Bachelor of Arts (Honours) <br> in Procurement and Finance
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Bachelor of Science (Honours) <br> in Financial Services Management
    </ion-button>
  </section>

</ion-content>
