<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Foundation Certificate in Construction Engineering</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 2</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education
      or
      MCAST Introductory Certificate  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme
      provides the learner
      with an opportunity to
      get acquainted with
      the different vocational
      trades related to
      construction engineering.
      The vocational practice
      component is based
      on a ‘taster’ approach
      whereby the learner will
      learn about the tools,
      materials, processes and
      applications relative to:
      • Welding and Fabrication
      • Plumbing and Electrical
      Installation
      • Refrigeration and Airconditioning
      • Woodwork
      • Trowel trades, including
      Restoration, Stone
      Masonry and Tile Laying.
      Technical Drawing will
      complement the five
      vocational areas listed
      above.
      Learners will also have
      the opportunity to
      enhance their key skills,
      such as English, Maltese,
      Mathematics, Science,
      Information Technology
      and Individual and Social
      Responsibility, all of
      which will be embedded
      in the vocational content.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
