<app-prospectus-header></app-prospectus-header>

<ion-content>
  <header text-center>Institute of Engineering and Transport</header>

  <ion-grid>
  <ion-row>

  <ion-col col-6>
  <ion-button (click)="courses()" color="#104b9b">
  <div>
  <ion-icon name="school-outline"></ion-icon> <br>
  <label>Courses</label>
  </div>
  </ion-button>
  </ion-col>

  <ion-col col-6>
  <ion-button (click)="info()" color="#104b9b">
  <div>
  <ion-icon name="paper-plane-outline"></ion-icon> <br>
  <label>Institute</label>
  </div>
  </ion-button>
  </ion-col>

  </ion-row>
  </ion-grid>

<ion-card>
  <ion-card-content>
  Well equipped with the latest technology in the various areas of Engineering and Transport
  related training programmes, the Institute prides
  itself of a portfolio of VET programmes covering
  MQF levels 1 to 7, ranging from the generic to
  the specific. In order to provide sectorial focus,
  the Institute is organsied into a number of
  Centres and Departments, covering the
  respective areas, namely: Aviation Maintenance
  and Training, Building and Construction,
  Electrical and Electronics, Mechanical
  Engineering and Maritime Studies.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    That way, learners interested in embarking on
    a career in any of the above mentioned areas,
    can start off their studies at an entry level which
    fits their current qualifications, progressing
    towards the achievement of prestigious exit
    level qualifications, some of which may also
    provide possible eligibility for Professional
    Warrant recognition (subject to specific
    requirements)
  </ion-card-content>
  </ion-card>
  
</ion-content>
