<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in Fish Husbandry</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course of studies
      introduces the learner
      to the basics of fish
      husbandry and provides
      the knowledge and skills
      required by the learner
      for eventual employment
      in related industries such
      as the fish farming and
      aquatics industries.
      Being the only
      course in Malta that
      is solely dedicated to
      fish husbandry, this
      programme offers an
      excellent opportunity
      for employment in this
      industry, which has now
      become an important
      economic sector in the
      Maltese Islands.
      The learner will develop
      the knowledge and
      practical skills needed,
      provided that one
      attends all the practical
      sessions which are vital
      to enhance the theoretical
      knowledge gained during
      lectures.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
