<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Foundation Certificate in Business</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 2</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education
      or
      MCAST Introductory Certificate
      Initial Assessment Tests (as may be applicable)</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course provides
      learners with an
      introduction to business
      related topics such as
      basic Bookkeeping,
      Human Resources,
      Marketing, Sales and
      general business
      concepts. These different
      topics are introduced
      at a basic level through
      a variety of teaching
      methods as well as
      assessment techniques
      with the aim of catering
      for different learning
      styles.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
