<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Arts (Honours) in Journalism</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Creative Media
      Production
      or
      MCAST Advanced Diploma in Photography
      or
      2 A-Level passes and 2 I-Level Passes
      Compulsory I-Level: Maltese or English Language
      Applicants may be asked to sit for an interview and/or
      present their Portfolio.
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The Journalism sphere
      offers exciting new
      career opportunities for
      individuals who are keen
      to learn and to offer a
      much needed service to
      society. Journalism is an
      exciting vocation that can
      take you to unimaginable
      places and to meet with
      extraordinary people.
      Learners will be expected
      to effectively analyse
      and report the events
      that shape our lives
      and the world around
      us. They will be guided
      to design, develop and
      produce news content
      using the latest audiovisual technologies
      and recording devices.
      Moreover, learners will
      explore how to present
      their journalistic works
      to the public in a variety
      of formats such as print,
      radio, television and the
      internet. Throughout this
      programme, learners
      will work on real-life
      case scenarios, applying
      theoretical knowledge to
      practical journalism and
      related projects, working
      both in teams as well as
      autonomously.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
