<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Arts (Honours) in Sport, Exercise and Health</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Sports
      (Development, Coaching and Fitness)
      or
      2 A-Level passes and 2 I-Level passes and
      SEC/O-Level pass in English Language
      Compulsory A or I-Level:Physics or Chemistry or
      Biology or Physical Education</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme of
      studies assists the
      prospective candidates
      to pursue careers in a
      range of sports, exercise
      and clinical settings. The
      modules prepare the
      undergraduate to work
      alongside medical and
      healthcare professionals
      in promoting physical
      activity and exercise,
      and are mapped to
      the rigorous standards
      upheld by various
      international accrediting
      bodies in the field. The
      ultimate aim is to improve
      the general health of the
      individual and of society
      as a whole.
      The undergraduate
      develops the knowledge
      and skills required
      to assist clients and
      patients with their various
      health challenges, noncommunicable diseases,
      conditions, injuries or
      disabilities. Furthermore
      the degree programme
      also aims to facilitate
      the pursuit of a number
      of distinctive sport or
      exercise-related (Level 7)
      Masters’ programme. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
