<app-prospectus-header></app-prospectus-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In veritatis dolore asperiores molestiae deserunt aperiam debitis, beatae molestias ipsam officia, distinctio, sed impedit quod provident consectetur alias consequuntur doloribus cum!
    </ion-card-content>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In veritatis dolore asperiores molestiae deserunt aperiam debitis, beatae molestias ipsam officia, distinctio, sed impedit quod provident consectetur alias consequuntur doloribus cum!
    </ion-card-content>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In veritatis dolore asperiores molestiae deserunt aperiam debitis, beatae molestias ipsam officia, distinctio, sed impedit quod provident consectetur alias consequuntur doloribus cum!
    </ion-card-content>
  </ion-card>

  <section>
<ion-grid>
  <ion-row>
  <ion-col width-50>
    <ion-card>
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      </ion-card-content>
      <ion-card-subtitle>Manuel Vassallo</ion-card-subtitle>
    </ion-card>
  </ion-col>

  <ion-col width-50>
    <ion-card>
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      </ion-card-content>
      <ion-card-subtitle>Manuel Vassallo</ion-card-subtitle>
    </ion-card>
  </ion-col>
</ion-row>
</ion-grid>
  </section>
</ion-content>
