<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in Printing</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes
      Preferred: Art, or Art and Design, or Textiles and Design</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course aims to
      deliver both general as
      well as area-specific
      education and training
      in the commercial and
      security printing industry.
      The sector is currently
      facing challenges
      related to changing
      habits, shifts to digital
      communication, and
      competition from non-EU
      countries. Nevertheless,
      the local industry
      has recently seen an
      increase in employability,
      supporting publishing,
      advertising, and other
      commercial businesses.
      This qualification equips
      learners with knowledge
      of the major pre-press,
      printing and post-press
      processes as well as
      a range of skills and
      techniques, personal
      qualities and attitudes
      essential for successful
      performance in working
      life. Learners harness
      theoretical knowledge at
      the Institute, backed up
      by practical training within
      the printing industry.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
