<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Cultural Heritage Skills</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Level 3 Diploma
      or
      4 SEC/O-Level /SSC&P (Level 3) passes
      Applicants may be asked to sit for an interview.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course addresses
      sectorial needs in order to
      support the management,
      conservation and
      preservation of cultural
      heritage. Successful
      candidates will be able to
      ethically collaborate with
      relevant stakeholders,
      and would work under
      the supervision of one of
      these.
      Initially, the programme
      of studies provides
      the necessary applied
      theoretical material
      and ethical background
      for further training in
      technical aspects of
      cultural heritage and
      heritage skills. Options
      in the second and third
      year of the programme,
      which are open subject
      to demand and viability,
      include stone, metals,
      books, paper and textiles
      heritage skills, with
      training being carried
      out in workshops,
      laboratories and on sites.
      Moreover, training as
      part of an apprenticeship
      is an integral part of the
      programme. 
      </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
