<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Higher Diploma in Advanced Studies in the Early Years</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 5</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Children’s Care, Learning
      and Development and SEC/O-Level passes in
      Mathematics, English and Maltese
      or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-level or I-level: 2 subjects from
      Mathematics, English, Maltese.
      Applicants need to be in possession of a pass at
      SEC/O-Level in the subject that is not presented at
      A-level or I-level.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course of studies is
      one of the most
      sought-after within
      this Institute. It is
      highly popular among
      prospective candidates
      because it provides
      ample opportunities
      to find employment at
      the end of the two-year
      programme.The studyunits are designed in
      such a manner to provide
      a strong link between
      theoretical concepts and
      hands-on practice during
      the work placements.
      Lectures focus on guiding
      the undergraduates how
      to make learning for
      young children stimulating
      and fun, in a safe and
      healthy environment.
      Upon completion of
      this programme, the
      undergraduates may
      proceed to the final year
      of the Bachelor of Arts
      (Hons) in Early Childhood
      Education and Care
      (ECEC) within the Faculty
      of Education, University
      of Malta, subject to
      fulfilling a number of
      requirements relating to
      proficiency in Maltese
      and English language</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
