<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Introductory Certificate in Construction Engineering</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 1</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The programme provides
      an opportunity for
      prospective learners
      in possession of the
      Secondary School
      Certificate and Profile
      (SSC&P) to experience
      and train in the basic
      skills related to the
      Construction industry.
      It presents learners with
      an opportunity to have
      extensive vocational
      hands on practice in
      various sectors. The
      course includes practical
      hands on woodwork,
      plumbing, sheet-metal,
      bench-fitting, electrical
      and trowel practical
      exercises.
      The course includes
      a significant key skills
      component that will help
      learners improve their
      communication, literacy
      and numeracy skills. IT
      and Individual and Social
      Responsibility sessions
      are also part of the key
      skills component.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
