<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Science (Honours) in Computer Systems and Networks</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in IT
      (recommended streams: “Computer Systems and
      Networks” and “End User Support”)
      or
      MCAST Advanced Diploma in Electronics
      (Computer Engineering)
      or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-Level: Computing.
      Compulsory A-Level or I-Level: one subject from Pure
      Mathematics, Applied Mathematics and Physics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The field of computer
      networking is changing
      radically with the
      introduction of a wide
      range of new devices and
      new methods of working
      in many contexts.
      There is a strong demand
      for highly skilled technical
      persons who can devise
      original solutions for
      complex problems in the
      context of IT and network
      implementations using
      modern techniques.
      This degree programme,
      is intended for learners
      who would like to pursue
      a career in the world of
      computer systems and
      networks. In this course,
      learners will be exposed
      to enterprise network
      technologies, data centre
      operations, service
      provider networks,
      information security,
      virtualisation and cloud
      computing technologies.
      Due importance will also
      be given to emerging
      technologies which
      learners will find being
      implemented when they
      start working within the
      industry. A hands-on
      practical approach is
      adopted throughout the
      course. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
