<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Photography</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Art and Design
      or
      MCAST Diploma in Media
      or
      4 SEC/O-Level/SSC&P (Level 3) passes
      Preferred: Art, English Language
      Applicants may be asked to sit for an interview and/or
      present a portfolio..</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The Photographic
      Industry requires young
      creatives who want to
      take the plunge into the
      world of professional
      image making. The
      industry requires
      competitive young
      professionals who can
      meet the on-going clients’
      demands for fresh and
      unique ideas for images
      in a variety of contexts.
      This is a two-year
      vocational course
      that focuses on
      giving prospective
      photographers a very
      near real-life educational
      experience to what can
      be experienced in the
      photographic Industries.
      Learners are exposed
      to the specialist areas
      of artistic photographic
      print making, location
      photography and
      studio photography.
      Towards the end of
      each academic year the
      Learners will develop
      their own thematic
      photographic concepts
      and produce two major
      photographic projects,
      one per academic year.
      The course also includes
      DSLR photography,
      studio photography,
      studio lighting,
      monochrome darkroom
      and photographic
      printing.      
      </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
