<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Administrative and Secretarial Studies </header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Business
      or
      MCAST Diploma in Postal Services
      or
      4 SEC/O-Level /SSC&P (Level 3) passes
      Compulsory: Maltese and English Language
      Preferred: Mathematics
      Students opting for the Medical Stream need to be in
      possession of a:
      MCAST Diploma in Health and Social Care with at least
      4 units at Grade B or better
      or
      4 SEC/O-Level/SSC&P (Level 3) passes
      Compulsory: Maltese, English Language and one subject from Chemistry, Physics or Biology
      Preferred: Mathematics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course is designed
      to enable learners to
      understand the key
      areas of administration,
      administrative services,
      office equipment
      and supplies,
      routine procedures,
      standards and the
      work environment. It
      is also designed to
      provide learners with the
      possibility of opting to
      delve deeper into one of
      specific areas, namely
      Medical Secretaries and
      Legal Secretaries, as
      well as an application
      of Italian and French
      within a business related
      usage. The programme
      of studies, has a very
      high level of hands-on
      experience through
      Apprenticeship, were
      learners will not only be
      learning by doing, but will
      also experience firsthand the application of
      the theory they would</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
