<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Science (Honours) in Biomedical Engineering</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>4 Years Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Operations and
      Maintenance
      or
      2 A-Level passes and
      2 I-Level passes
      Compulsory A-Levels: Physics and Mathematics
      (Pure or Applied)
      Applicants need to obtain an average Grade C or better
      across their A-Levels in Mathematics and Physics (such
      as Grades C,C; Grades B,D; Grades A,E) or a related
      MCAST Advanced Diploma (an overall mark of 60%
      or higher) or Undergraduate Diploma in foundations of
      Engineering
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This degree programme
      in Mechanical
      Engineering is relevant
      to a range of industries,
      since it covers the key
      mechanical engineering
      principles and subject
      areas for the plant
      engineer. The course is
      therefore wide-ranging
      and it will develop the
      candidates’ ability to
      apply these principles
      to solve engineering
      problems in a variety of
      work environments and
      business concerns.
      The course contains
      study-units in various
      areas such as Fluid
      mechanics, Plant
      technology, Control
      principles, control
      engineering, electrical
      technology, HVAC,
      vibration analysis and
      heat engines. Additional
      managerial modules and
      modules in environmental
      engineering further
      enhance this programme
      so that graduates may
      add real value to the
      organisation that employs
      them.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
