<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Sport (Development, Coaching and Fitness)</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Sport
      or
      MCAST Diploma in Applied Science
      or
      MCAST Diploma in Health & Social Care
      or
      MCAST Diploma in Foundation Studies for Security,
      Enforcement and Protection
      or
      4 SEC/O-Level /SSC&P (Level 3) passes
      Preferred: Physical Education, English Language,
      Biology</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This is a full-time
      programme with a
      strong emphasis on
      work-based learning.
      The course looks into
      coaching, fitness, and
      sports-development, as
      well as modules relating
      to sports injury and
      sports as a business
      venture. Placement
      experience provided
      throughout the course
      further strengthens
      these abilities.
      During the two-years
      of study, the learner is
      exposed to an array of
      practical and theoretical
      modules related to the
      sector. As an entry
      criterion to the course,
      the learners need to
      undertake and pass a
      basic Fitness Test that
      physically tests the
      learners’ personal level
      of fitness in terms of
      flexibility, cardiovascular
      endurance, strength,
      speed and agility.
      </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
