<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Master of Science in  Integrated Water Resource Management</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>5 Semesters</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Relevant Degree. Level 5 qualification and adequate professional experience is also considered. </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The Master of Science
      in Integrated Water
      Resource Management
      programme shall impart
      in-depth knowledge and
      practical experience in
      applied science aspects
      of water systems in small
      island states, with a focus
      on water measurement,
      water sustainability, water
      consumption, water
      chemistry, microbiology
      and analytics. The course
      comprises a range of
      practical modules in
      water metering, sensing
      and measurement,
      applied microbiology,
      biofouling/biocorrosion,
      chemometrics,
      environmental
      microbiology and water
      chemistry. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
