<app-prospectus-header></app-prospectus-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Well equipped with the latest technology in the various areas of Engineering and Transport
      related training programmes, the Institute prides
      itself of a portfolio of VET programmes covering
      MQF levels 1 to 7, ranging from the generic to
      the specific. In order to provide sectorial focus,
      the Institute is organsied into a number of
      Centres and Departments, covering the
      respective areas, namely: Aviation Maintenance
      and Training, Building and Construction,
      Electrical and Electronics, Mechanical
      Engineering and Maritime Studies.
    </ion-card-content>

    <ion-card-content>
      That way, learners interested in embarking on
      a career in any of the above mentioned areas,
      can start off their studies at an entry level which
      fits their current qualifications, progressing
      towards the achievement of prestigious exit
      level qualifications, some of which may also
      provide possible eligibility for Professional
      Warrant recognition (subject to specific
      requirements). 
    </ion-card-content>

  <section>
<ion-grid>
  <ion-row>
  <ion-col width-50>
    <ion-card>
      <ion-card-content>
        I had a strong background
        due to the usage of
        AutoCAD during my
        studies at MCAST.
      </ion-card-content>
      <ion-card-subtitle>Christopher Sacco</ion-card-subtitle>
    </ion-card>
  </ion-col>

  <ion-col width-50>
    <ion-card>
      <ion-card-content>
        During my time at MCAST, I
        built and designed
        various projects.
      </ion-card-content>
      <ion-card-subtitle>Isaac Massa</ion-card-subtitle>
    </ion-card>
  </ion-col>
</ion-row>
</ion-grid>
  </section>
</ion-content>
