<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Introductory Certificate in Hairdressing</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 1</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme of
      studies introduces the
      learner to modules
      related to this sector. A
      number of interesting
      topics are discussed
      including the different
      types of equipment and
      products typically found
      in hairdressing salons,
      customer care services,
      communication skills,
      professional attitudes,
      window-dressing,
      personal appearance and
      hygiene. The study-units
      incorporate theoretical
      aspects of hairdressing
      as well as practical
      sessions of basic
      hairdressing procedures
      using a mannequin head.
      Learners are also
      given the opportunity to
      strengthen their key skills
      subjects. Weekly lessons
      in English language,
      Maltese, Mathematics,
      Science, Information
      Technology and Individual
      and Social Responsibility
      (ISR) are delivered in
      a manner that will help
      to render the vocational
      units more appealing and
      relevant. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
