<app-prospectus-header title="Principal and CEO"></app-prospectus-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      The new Prospectus
      designed and produced by our
      own students and lecturers at the
      Institute for Creative Arts is an
      expression of the vibrant environment that the College has achieved
      over the last two decades.  With
      over 187 full-time courses to
      choose from and so many other
      support services available to students and staff members, MCAST
      is gradually becoming the natural
      choice of Maltese students wishing
      to embark on a post-secondary
      education and training programme
      that leads to higher education qualifications employment. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      With over 7000 full-time students
      and more that 4500 part-time learners and workers, the College is the
      meeting point for educators,
      employers and other stakeholders
      who have an vested interest in
      developing their skills, their investment and their quality of products
      and services. The College is
      probably the only educational
      institution in the world that offers
      qualifications at all levels.
      Therefore, I am confident that when
      you flick through the pages of this
      publication you will find the course
      of your choice. At MCAST you will
      find qualifications in the most
      important sectors of our economy
      where vacancies and new jobs
      exist. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      At MCAST you will also find
      the right environment to make new
      friends, participate in sports and
      social activities throughout the year
      and engage with 780 international
      students from over 79 different
      nationalities.
    </ion-card-content>
  </ion-card>

  <section>
    <ion-button (click)="president()" expand="block" color="danger">PRESIDENT MESSAGE</ion-button>
  </section>
</ion-content>
