<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Graphics Design and Interactive Media</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Art and Design
      or
      MCAST Diploma in Media
      or
      MCAST Diploma in Printing
      or
      4 SEC/O-Level /SSC&P (Level 3) passes
      Compulsory: Art
      Preferred: English Language </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course of study that
      prepares Learners to to
      communicate ideas and
      solve problems through
      creative and innovative
      solutions. The course is
      taught by experienced
      graphic artists and
      designers and is an
      opportunity to form an
      understanding of graphic
      design and interactive
      media fundamentals.
      Learners will become
      familiar with fundamental
      principles, skills and
      media related to
      contemporary graphic
      design and interactive
      media practice. With
      an emphasis on the
      creative process,
      learners will be guided
      to master technical skills
      in preparation for more
      independent study at
      undergraduate level.
      Exploratory exercises,
      real life work and
      competitions all form
      part of the curriculum
      for ultimate effective
      learning experiences.
      All this seeks to bridge a
      link between the College
      and the creative industry.
      The course encourages
      learners to develop a
      portfolio that is unique.
      </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
