<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in Media</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes
      Preferred: English Language, Music</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The creative media
      sector is versatile and it
      encompasses many job
      opportunities for young
      learners who are ready to
      take on this adventure.
      This course aims to give
      learners an introduction
      about the various
      disciplines and elements
      that make up the creative
      media sector and it will
      also allow learners to
      experience working on
      media-related projects
      first hand. This course
      will provide learners with
      the ideal foundations
      upon which students
      can further specialise
      as creative media
      professionals.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
