<app-prospectus-header></app-prospectus-header>

<ion-content>
  <header text-center>Institute of Business Managment and Commerce</header>

  <ion-grid>
  <ion-row>

  <ion-col col-6>
  <ion-button (click)="courses()" color="danger">
  <div>
  <ion-icon name="school-outline"></ion-icon> <br>
  <label>Courses</label>
  </div>
  </ion-button>
  </ion-col>

  <ion-col col-6>
  <ion-button (click)="info()" color="danger">
  <div>
  <ion-icon name="paper-plane-outline"></ion-icon> <br>
  <label>Institute</label>
  </div>
  </ion-button>
  </ion-col>

  </ion-row>
  </ion-grid>

<ion-card>
<ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In veritatis dolore asperiores molestiae deserunt aperiam debitis, beatae molestias ipsam officia, distinctio, sed impedit quod provident consectetur alias consequuntur doloribus cum!
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In veritatis dolore asperiores molestiae deserunt aperiam debitis, beatae molestias ipsam officia, distinctio, sed impedit quod provident consectetur alias consequuntur doloribus cum!
      </ion-card-content>
  </ion-card>
  
</ion-content>
