<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in Animal Care</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course of studies
      offers an introduction to
      working with and handling
      farm animals and pets,
      and the necessary related
      hands-on experience.
      It provides the practical
      skills and background
      knowledge required to
      form a solid foundation in
      animal care.
      The learner will have the
      opportunity to acquire
      knowledge on various
      habitat designs that can
      be used for farm and
      pet animals as well as
      accommodation, study
      feeding procedures and
      how to identify and solve
      animal health problems.
      A learner who opts for
      this programme of studies
      will be expected to attend
      scheduled husbandry
      duties which form part of
      this course. This practical
      experience, coupled
      with motivation and
      responsibility will back up
      the theoretical knowledge
      gained at the Centre</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
