<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Science (Honours) in Health Sciences (Physiological Measurements)</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma for Pharmacy Technicians
      or
      MCAST Advanced Diploma in Health Sciences
      or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-Level: Biology
      Preferred: Chemistry, Physics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This degree programme
      is intended for learners
      who wish to pursue
      studies which will
      provide them with the
      appropriate competences
      for the measurement and
      imaging of the human
      body’s physiological
      activity. Scientists
      qualified in this field,
      team-up with various
      other health professionals
      and provide the
      diagnostic information
      which is vital to the
      medical profession in
      the treatment of several
      medical conditions.
      This three-year
      programme, will provide
      the learner with the
      knowledge, clinical
      training and skills
      necessary to gain the
      professional qualifications
      required to work as
      a healthcare science
      practitioner in the area of
      clinical physiology.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
