<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Retail</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>This course aims to introduce learners to diverse
      world of retail. Learners will be exposed at the
      different aspects and career opportunities related to
      retail inculding front line, logistics, purchasing, retail
      operations and visiual merchandising as an example.
      The retail industry in Malta is one of the largest
      industries and offers career opportunities with both
      local as well as international chains, and this course
      allows learners to be exposed to different careers
      related to the retail industry. Learners will be covering
      all aspects of the retail environment including Stock
      Presentation, Customer Care, Buying, Visual Merchandising and Consumer Behaviour, and e-commerce.
      Throughout this course, which is on Apprenticeship,
      learners will be studying on a dual system whereby they
      will have days at school, while they will be having days
      out working in industry.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>Learners will be
      exposed to the different
      aspects and career
      opportunities related to
      retail inculding front line,
      logistics, purchasing,
      retail operations and
      visiual merchandising
      as an example.
      The retail industry in
      Malta is one of the largest
      industries and offers
      career opportunities
      with both local as well
      as international chains,
      and this course allows
      learners to be exposed to
      different careers related
      to the retail industry.
      Learners will be covering
      all aspects of the retail
      environment including
      Stock Presentation,
      Customer Care, Buying,
      Visual Merchandising and
      Consumer Behaviour.
      Throughout this
      course, which is on
      Apprenticeship, learners
      will be studying on a dual
      system whereby they
      will have days at school,
      while they will be having
      days out working in
      industry</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
