<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Arts (Honours) in Interactive Media</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Graphic Design and
      Interactive Media
      or
      MCAST Advanced Diploma in Art and Design
      or
      MCAST Advanced Diploma in Photography
      or
      MCAST Advanced Diploma in Creative Media
      Production
      or
      MCAST Advanced Diploma in IT (As from 2020, this
      entry requirement will be limited only to the Multimedia
      Software Development stream and the Software
      Development stream)
      or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-Level: Art, or Art and Design, or
      Computing, or equivalent.
      Applicants may be asked to sit for an interview and/or
      present their Portfolio</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This degree programme
      prepares learners to
      work in various sectors
      within an ever-evolving
      digital industry, by giving
      exposure to 3D graphics
      and creative design and
      development. Learners
      will be given a strong
      grounding in visual art
      and design principles,
      as well as visual design
      software. They will
      acquire skills in the core
      fundamental practices
      of the industry, exploring
      user experience design,
      design and development
      for websites and mobile
      apps, game design
      and production and 3D
      graphics.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
