<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Science (Honours) in Marine Engineering</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Years Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Marine Engineering
      or
      MCAST Advanced Diploma in Operations and
      Maintenance
      or
      MCAST Advanced Diploma in Manufacturing
      or
      2 A-Level
      passes and 2 I-Level passes
      Compulsory A-Level: Physics and Mathematics
      (Pure or Applied)
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This degree programme,
      deals with the design,
      construction, operation
      and maintenance of
      engines and machinery
      in ships and marine
      installations. The learner
      will gain an understanding
      of developed and
      emerging technologies
      whilst applying theoretical
      and practical methods in
      the analysis and solution
      of marine engineering
      related problems. At this
      level of study, one will
      be expected to develop
      the qualities needed for
      employment in situations
      requiring the exercise of
      personal responsibility,
      technical leadership
      and commercial
      management in complex
      and unpredictable
      circumstances as
      expected in the Maritime
      Industry</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
