<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in Heating, Ventilation and Air-Conditioning</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course provides
      learners with essential
      knowledge and
      knowledge related to
      heating, ventilation and
      air-conditioning (HVAC).
      It will enable learners
      to work as assistant
      technicians engaged in
      servicing and carrying
      out maintenance
      on refrigeration
      compressors,
      condensers, evaporators
      and other accessories.
      Practical training is
      carried out in workshops
      equipped to industry
      standards. Learners are
      expected to participate
      individually and in teams
      to operate refrigeration
      and air conditioning
      equipment.
      This course also
      provides learners with
      the opportunity to further
      develop their knowledge
      of key skills subjects such
      as Mathematics, Science,
      English, Maltese,
      Information Technology
      and Individual and Social
      Responsibility.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
