<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in IT (Computer Systems and Networks)</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Years Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in IT
      or
      MCAST Diploma in IGaming
      or
      4 SEC/O-Level/SSC&P (Level 3) passes
      Compulsory: Mathematics and one subject
      from Computer Studies or Physics or
      Information Technology
      Preferred: English Language</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The IT industry is a
      dynamic sector which
      requires a number of
      highly skilled technical
      personnel to cope with
      constantly changing
      customers’ demands
      and new innovative
      technologies. This course
      is the first step towards
      entering the field of
      computer networks. It
      will provide the learners
      with core computer
      networking skills. At this
      level, learners will be
      exposed to the design,
      implementation and
      administration of small to
      medium sized networks.
      The first year of this
      course will be common
      to all learners following
      the Advanced Diploma.
      During the second year of
      studies, learners will be
      focusing on networking
      subjects such as LAN
      switching, routing,
      server management and
      virtualisation. This course
      includes work-related
      training and practice.
      Applicants have to be
      able to work within the
      industries concerned.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
