<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Foundation Certificate in Engineering</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 2</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education
      or
      MCAST Introductory Certificate  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course is designed
      to provide an opportunity
      to prospective learners
      to follow a structured
      programme of study
      in Engineering. The
      programme includes a
      significant amount of
      hands-on practice, project
      based learning and
      industry related activities
      that will help learners
      form a clear idea of the
      nature of the engineering
      trade or vocation they
      intend to follow.
      This one-year Level 2
      programme provides
      a broad introduction
      to basic theoretical
      concepts and practical
      skills in Mechanical,
      Electrical and Electronics
      suitable for those
      learners intending to
      start and further their
      studies in Engineering.
      Key skills subjects also
      form an integral part
      of this programme,
      giving learners the
      opportunity to nurture
      their competences in key
      areas</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
