<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Master of Science in High Performance Buildings</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>5 Semesters</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Relevant Degree. Level 5 qualification and adequate professional experience is also considered. </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The Master of Science
      in High Performance
      Buildings (HPB)
      gives candidates the
      opportunity to develop
      optimized building
      concepts, integrating
      various components
      of holistic design
      methodology, building
      physics, building
      climatology and comfort,
      energy-efficiency,
      environmental sources,
      building services
      systems, building
      aerodynamics, thermal
      and fluid dynamic
      CFD simulations,
      lighting design, building
      operation, as well as
      green urban modelling.
      The programme provides
      for advanced skills
      in specialization and
      scientific research of
      building physics coupled
      with architectural design,
      preparing students
      for professional, as
      well as research and
      development settings at
      national and international
      levels. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
