<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Arts (Honours) in Performing Arts</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Performing Arts
      or
      Any other MCAST Advanced Diploma
      or
      2 A-Level passes and 2 I-Level passes
      Applicants may be asked to sit for an interview and/or
      an audition
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The professionalization
      of the performing arts
      has been a national
      priority for the sector for
      the last few years. This
      multi-and interdisciplinary
      undergrad programme
      responds to this priority
      and gives learners the
      opportunity to work
      hands-on in creative
      environments through
      joint collaboration with
      industry stakeholders to
      manage and produce
      performing arts projects
      for both artistic and
      commercial practices.
      According to their
      chosen study-area/s
      (management;
      performance – acting,
      dance, music; technical
      – light, sound; design
      – costumes, set/props)
      learners acquire a
      broad range of skills
      and techniques focusing
      on performing arts
      productions through
      critical analysis,
      research and practical
      assignments. In their
      final year, learners are
      given the opportunity to
      research and develop
      their own individual
      practice within the context
      of the cohort’s final
      production.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
