<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Science (Honours) in Software Development</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in IT
      (recommended stream: Software Development)
      or
      MCAST Advanced Diploma in Electronics
      (Computer Engineering)
      or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-Level: Computing
      Compulsory A-Level or I-Level: one subject from Pure
      Mathematics, Applied Mathematics and Physics</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This degree programme
      is intended for those
      learners who are keen
      on software development
      with an inclination
      towards back-end
      systems and solving
      complex problems. In
      this course you will learn
      how to design software
      applications based on
      formal design patterns;
      design and implement
      the underlying data
      infrastructure; model
      and solve complex real
      problems whilst following
      formal methodologies.
      This course covers
      Secure Development,
      Enterprise Software
      Development, Server
      Side and Client Side
      scripting, Discrete
      Mathematics and other
      similar modules. This
      course is intended for
      individuals who have a
      keen interest in problem
      solving, have an attention
      to detail and strive to
      programme efficiently </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
