<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Introductory Certificate in Business</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 1</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education
      Initial Assessment Tests and/or Interview (as may
      be applicable)</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The course is aimed at
      learners who would like
      to explore the world of
      studying business related
      subjects. During the
      programme, learners will
      be exposed to the basics
      of business concepts
      including organisational
      structures and different
      business areas. The
      course will also provide
      learners with skills
      related to subjects such
      as English, Maths and
      Maltese as well as other
      key skills units which
      will help them in their
      progression towards
      further studies. </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
