<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Arts (Honours) in Graphics Design</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Graphic Design
      and Interactive Media
      or
      MCAST Advanced Diploma in Art and Design
      or
      MCAST Advanced Diploma in Photoghraphy
      or
      MCAST Advanced Diploma in Creative Media
      Production
      or
      2 A-Level passes and 2 I-Level passes
      Compulsory A-Level: Art, or Art and Design,
      or Graphical Communication, or equivalent
      Applicants may be asked to sit for an interview and/or
      present their Portfolio</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>Communicating
      messages successfully
      via graphic design,
      requires a high level
      of understanding
      of the visual art of
      representation. This
      highly contextualised
      curriculum draws on
      contemporary design
      practice, together with
      theoretical and historical
      cultural material.
      The degree equips
      learners with the
      knowledge to explore
      and challenge creative
      boundaries, through
      real-life design scenarios.
      They will hone their
      skills in fundamental
      design principles
      such as layout, form,
      typography, iconography
      and colour. Learners will
      analyse a wide range
      of professional design
      problems, and find
      creative and innovative
      solutions using various
      media. Traditional
      and digital tools will be
      explored in disciplines
      such as editorial
      design, web design,
      signage, advertising and
      packaging.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
