<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Bachelor of Science (Honours) in Chemical Technology</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 6</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Advanced Diploma in Applied Science
      or
      2 A-Level Passes and 2 I-Level Passes
      Compulsory A-Level: Chemistry
      Preferred A or I-Level: Biology or Physics or
      Mathematics (Pure or Applied)</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This undergrad course
      offers an opportunity
      to learners to gain a
      foundation in the core
      chemistry concepts
      and the manufacture of
      chemical products, such
      as pharmaceuticals,
      polymers, foods,
      beverages and
      petrochemicals. The
      knowledge, skills and
      competences attained
      give individuals an
      opportunity to succeed
      in employment in a wide
      range of manufacturing
      and processing
      industries, consulting
      firms, government,
      research and educational
      institutions. The course
      exposes learners to
      the development and
      design of chemical
      processes at different
      scales and creates a
      bridge between science
      and manufacturing, by
      applying the principles
      of chemistry and
      engineering to solve
      problems involving
      the production or
      use of chemicals.
      The programme also
      provides opportunities for
      learners to focus on the
      development of higher
      level skills in a scientific
      and technological
      context.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
