<app-prospectus-header title="Diploma Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Diploma for Beauty <br> Specialists
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Diploma in Hairdressing <br> – Women
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Diploma in Health <br> and Social Care
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Diploma in Sport
    </ion-button>
  </section>

</ion-content>