<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Master of Science in  Information Technology & Systems</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>5 Semesters (2 ½ Years)</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Relevant Degree. Level 5 qualification and adequate professional experience is also considered. </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The Master of Science in
      Information Technology
      and Systems provides
      fundamental skills in a
      variety of advanced ICT
      areas such as cloud
      computing, big data and
      the Internet of Things
      (IoT), with a focus on
      developing intelligent
      solutions through a blend
      of hardware and software.
      The programme focuses
      on software as a service
      infrastructure, information
      management, enterprise
      systems and eLogistics.
      Also a focus is placed
      on systems strategy and
      management, business
      process innovation and
      cyber security. Key
      to the programme is
      network security and
      data management
      technologies, as well
      as software defined
      networking, and the
      new field of distributed
      hashing and computing,
      typified by distributed
      version control systems
      and blockchain based
      crypto-currency
      applications.  </ion-card-content>
  </ion-card>
</section>
    

</ion-content>
