<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma in IGaming</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes
      Compulsory: one subject from Mathematics or
      Computer Studies or Physics or BTEC IT Practitioner/
      IT VET
      Preferred: English Language</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>The iGaming Industry
      is a relatively new and
      dynamic sector which
      requires a number of
      technical people to
      cope with the constantly
      evolving technologies in
      iGaming.
      MCAST is offering this
      course as the first step
      to become familiar with
      the iGaming industry.
      The course is designed
      to provide the basic
      knowledge and skills
      required to consider
      working in such an
      exciting and innovative
      industry.
      At this level of
      studies, the learners
      will be introduced to
      subjects which provide
      fundamentals in iGaming,
      Web development,
      Multimedia and basic
      Data Analysis.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
