<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Plumbing and Liquid Petroleum Gas Systems</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Construction Engineering
      or
      MCAST Diploma in Heating, Ventilation and
      Air Conditioning
      or
      MCAST Diploma in Building
      Services Installations (Plumbing or Plumbing and
      Electrical)
      or
      MCAST Diploma in Welding and Fabrication
      or
      MCAST Diploma in Electrical Installations
      or
      MCAST Diploma in Engineering (Electronics)
      or
      MCAST Diploma in Mechanical Engineering
      or
      4 SEC/O-Level /SSC&P (Level 3) passes
      Preferred: English, Engineering Technology,
      Mathematics, Graphical Communication, Design and
      Technology</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course combines
      theoretical knowledge
      and practical training
      both in College-based
      industrial workshops
      and in an industry-based
      apprenticeship or work
      placement. Learners will
      learn how to analyse
      and generate solutions
      to perform typical
      plumbing installations,
      alterations, repairs and
      planned maintenance.
      Learners are expected
      to participate individually
      and in teams to install
      pipe systems and fittings
      and accessories of
      domestic, commercial
      and industrial
      installations. The course
      also covers liquid
      petroleum gas (LPG)
      systems installed to
      REWS/MSA Standards.
      Applicants need to be
      able to work within the
      industries concerned.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
