<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Foundation Certificate in Engineering</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 1</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme provides
      an opportunity to
      prospective learners to
      explore basic principles
      and applications related
      to Engineering. The
      course will assist learners
      in developing technical
      skills. The vocational
      units are designed to
      provide learners with
      tool handling techniques,
      which would include
      soldering, material
      cutting and shaping, and
      assembly of electrical,
      electronic and mechanical
      components. Learners
      will have the opportunity
      to build simple projects
      which would be functional
      and useful. Learners are
      also given the opportunity
      to enhance their key
      skills: English, Maltese,
      Mathematics, Science
      and Individual and Social
      Responsibility through
      vocational content. These
      key skills subjects are
      mostly embedded into
      each vocational area,
      thus promoting the
      practical aspect of these
      subjects.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
