<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Marketing </header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>2 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>Finished Compulsory Education
      Initial Assessment Tests and/or Interview (as may
      be applicable)</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This course is aimed
      at giving learners the
      knowledge and knowhow
      of the main areas related
      to the different areas
      of marketing. They
      will go into the areas
      of Marketing, Sales,
      Advertising, Public
      Relations and Customer
      Care in some detail.
      The insight in these
      different areas provides
      the student with the
      ability to work in different
      areas of marketing. The
      learner will also have
      the opportunity to apply
      the theory learned in
      class in practice through
      the apprenticeship
      placement.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
