<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
<header>Diploma in Deck Operations</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>2 SEC/O-Level/SSC&P (Level 4) passes
      Required:English language, Maths
      Note: Candidates not in possession of the English
      language and/or Maths certificates will be subject for an
      interview
      or
      MCAST foundation course (level 2) or any other
      MCAST level 3 course </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This study programme
      is intended for learners
      who in future intend to
      apply for the course
      leading to an Officer in
      Charge of a Navigational
      Watch.This course also
      gives the opportunity
      for those learners who
      would like to to find a
      job and actively work in
      a maritime environment
      such as a deck crew on
      board ships.The Diploma
      In Deck Operations
      Course delivers a solid
      foundation in general ship
      knowledge, seamanship,
      navigation and
      understanding the basic
      legislative environment
      within which ships
      operate. This course
      also gives an opportunity
      for learners to complete
      the STCW basic safety
      training components.
      Learners will also be able
      to sit for the GMDSS
      ROC and commercial
      vessel boat-master grade
      1, provided that other
      requirements stipulated
      by Transport Malta are
      met.
      Key subjects like
      Mathematics, Science,
      English, Maltese and
      Information Technology
      are included in this
      programme.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
