<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Diploma for Beauty Specialists</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 3</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>1 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Foundation Certificate
      or
      2 SEC/O-Level/SSC&P (Level 3) passes
      Preferred: English Language, Biology, Chemistry, Home
      Economics, Art</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This programme of
      studies offers learners
      the possibility to seek
      employment in salons
      as Beauty Specialists.
      Alternatively, successful
      students who manage
      to finish off this one-year
      full-time course may wish
      to consider furthering
      their studies by
      progressing to the Level
      4 Advanced Diploma
      programme in Beauty
      and Complementary
      Therapies.
      Leaners are guided how
      to develop and carry
      out individual treatment
      plans based on the
      specific requirements of
      each individual client.
      Treatments include skin
      care, manicure and
      pedicure, depilation,
      nails, make-up services,
      eyebrow and eyelash
      treatments. Other
      modules relate to health
      and safety practices in
      the salon and business
      aspects including
      business plans, effective
      communication skills and
      proper conduct
      with clients.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
