<app-prospectus-header></app-prospectus-header>

<ion-content>
<div class="title">
<section>
  <header>Advanced Diploma in Joinery, Furniture Design and Manufacturing</header>
</section>
</div>

<br>

<section>
  <ion-card>
    <ion-card-title>MQF Level</ion-card-title>
    <ion-card-content>Level 4</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Duration</ion-card-title>
    <ion-card-content>3 Year Full-time</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Entry Requirements</ion-card-title>
    <ion-card-content>MCAST Diploma in Joinery and Furniture Making
      or
      MCAST Diploma in Construction Engineering
      or
      MCAST Diploma in Automotive Repair (Body and Paint)
      or
      4 SEC/O-Level/SSC&P (Level 3) passes
      Preferred: English,Mathematics, Technical Drawing,
      Engineering Technology, Graphical Communication.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Course Description</ion-card-title>
    <ion-card-content>This diploma course
      is aimed for students
      intending to embark
      in a career in the
      woodworking industry.
      It combines theoretical
      knowledge and practical
      training. The practical
      training is conducted
      both in College-based
      industrial workshops
      and in an industry-based
      apprenticeship or work
      placement.
      Learners will learn how
      to analyse and provide
      solutions to typical joinery
      and furniture products
      using solid wood and
      composite materials.
      Learners will be expected
      to participate individually
      and in teams to produce
      solid wood and composite
      material manufactured
      products. Applicants
      need to be able to work
      within the industries
      concerned. Applicants
      applying through the
      Secondary Education
      Certificate route, students
      may be requested to
      complete an additional
      Level 4 preparatory year
      if they do not already
      have prior exposure and
      experience in the sector.</ion-card-content>
  </ion-card>
</section>
    

</ion-content>
