<app-prospectus-header title="Diploma Courses"></app-prospectus-header>

<ion-content>
  <section>
    <ion-button (click)="cn1()" expand="block" color="light">Diploma in Business
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn2()" expand="block" color="light">Diploma in Hairdressing <br> – Women
    </ion-button>
  </section>
  
  <section>
    <ion-button (click)="cn3()" expand="block" color="light">Diploma in Health <br> and Social Care
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn4()" expand="block" color="light">Diploma in <br> Construction Engineering
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn5()" expand="block" color="light">Diploma in <br> Electrical Installations
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn6()" expand="block" color="light">Diploma in <br> Mechanical Engineering
    </ion-button>
  </section>

  <section>
    <ion-button (click)="cn7()" expand="block" color="light">Diploma in ICT
    </ion-button>
  </section>

</ion-content>